# Exercise A

- Exercise 1: Find the total number of records
[Ans: 1846]
- Exercise 2: Find the number of records by stock symbol
[Ans: Sample output: WMT: 8, UPS: 11, K: 10]
- Exercise 3: Find avg volume per stock symbol¶
[Ans: AAPL    1.663662e+08, YHOO    2.308414e+07]
- Exercise 4: Find symbol and date that has highest intra day pct change in price
[Ans: 2000-11-28 RHT pct: 12.1094%]
- Exercise 5: Find the number of unique symbols
[Ans: 471]

Dataset: stocks.csv

In [8]:
import pandas as pd
import numpy as np

In [3]:
path = "https://raw.githubusercontent.com/abulbasar/data/master/stocks.small.csv"
stocks = pd.read_csv(path)

In [4]:
#Exercise 1: Find the total number of records
stocks.shape[0]

1846

In [5]:
# Exercise 2: Find the number of records by stock symbol
stocks.symbol.value_counts()

ZBH      11
UPS      11
K        10
PHM       9
KR        9
FLIR      9
COF       9
D         9
WMT       8
NKE       8
CMI       8
KMB       8
PPG       8
NUE       8
ETN       8
SIG       8
EXR       8
FMC       8
JNJ       8
IFF       8
SCHW      7
MU        7
LLY       7
APC       7
EQT       7
NFX       7
BMY       7
IP        7
PX        7
WAT       7
         ..
COST      1
TDC       1
HBI       1
VRSK      1
FAST      1
SPGI      1
ULTA      1
UA        1
XRX       1
OI        1
L         1
NVDA      1
PNR       1
ORCL      1
INTU      1
GOOGL     1
SEE       1
DISCK     1
CBG       1
T         1
LVLT      1
ALLE      1
KEY       1
TXN       1
CME       1
AAL       1
TSCO      1
ADP       1
CMA       1
WRK       1
Name: symbol, Length: 471, dtype: int64

In [6]:
# Exercise 3: Find avg volume per stock symbol

stocks.groupby("symbol").volume.mean()

symbol
A       4.817800e+06
AA      2.177992e+07
AAL     2.598900e+06
AAP     1.274240e+06
AAPL    1.663662e+08
ABC     1.828200e+06
ABT     1.314022e+07
ACN     3.198850e+06
ADBE    4.725700e+06
ADI     2.909117e+06
ADM     4.904967e+06
ADP     1.074600e+06
ADS     7.642000e+05
ADSK    3.393800e+06
AEE     9.350750e+05
AEP     1.866267e+06
AES     4.188586e+06
AET     5.830220e+06
AFL     1.896633e+06
AGN     1.079380e+06
AIG     3.441720e+06
AIV     8.612000e+05
AIZ     1.017925e+06
AKAM    3.719875e+06
ALB     5.175200e+05
ALK     2.896700e+06
ALL     2.904833e+06
ALLE    4.711000e+05
ALXN    1.463200e+06
AMAT    2.433693e+07
            ...
VRTX    1.641950e+06
VTR     1.545000e+06
VZ      1.336177e+07
WAT     1.269814e+06
WBA     4.418425e+06
WDC     3.105371e+06
WEC     6.506000e+05
WFC     2.181037e+07
WFM     4.218267e+06
WHR     9.932800e+05
WM      2.534883e+06
WMB     7.113100e+06
WMT     1.216526e+07
WRK     2.397300e+06
WU      4.839500e+06
WY      1.098333e+06
WYN     1.353540e+06
WYNN    3.704533e+06
XEC     1.375533e+06
XEL     1.071800e+06
XL      7.067333e+05
XLNX    6.288650e+06
XOM     2.776827e+07
XRAY    1.117300e+06
XRX     3.019200e+06
XYL     7.209500e+05
YHOO    2.308414e+07
YUM     1.796917e+06
ZBH     1.616664e+06
ZION    3.220250e+06
Name: volume, Length: 471, dtype: float64

In [15]:
# Exercise 4: Find symbol and date that has highest intra day pct
# change in price
pct = np.abs(stocks.open - stocks.close)/stocks.open
stocks.loc[pct.sort_values(ascending=False).index].head()

,date,open,high,low,close,volume,adjclose,symbol
29,2000-11-28,8.000000,8.000000,7.000000,7.031250,2390600.0,7.031250,RHT
894,2008-10-13,19.799999,22.100000,19.230000,22.100000,5260800.0,5.330276,ALK
946,2009-04-07,3.040000,3.040000,2.600000,2.690000,6259300.0,2.210413,TGNA
892,2008-10-09,15.010000,15.010000,13.300000,13.370000,5463700.0,10.295758,TGNA
14,2000-10-02,176.250000,176.312485,155.187515,156.999985,4101900.0,52.333328,BIIB

In [16]:
stocks["pct"] = np.abs(stocks.open - stocks.close)/stocks.open
stocks.sort_values("pct", ascending=False).head()

,date,open,high,low,close,volume,adjclose,symbol,pct
29,2000-11-28,8.000000,8.000000,7.000000,7.031250,2390600.0,7.031250,RHT,0.121094
894,2008-10-13,19.799999,22.100000,19.230000,22.100000,5260800.0,5.330276,ALK,0.116162
946,2009-04-07,3.040000,3.040000,2.600000,2.690000,6259300.0,2.210413,TGNA,0.115132
892,2008-10-09,15.010000,15.010000,13.300000,13.370000,5463700.0,10.295758,TGNA,0.109260
14,2000-10-02,176.250000,176.312485,155.187515,156.999985,4101900.0,52.333328,BIIB,0.109220

In [19]:
# Exercise 5: Find the number of unique symbols
len(stocks.symbol.unique())

471

# Exercise B

Use movielens dataset
https://github.com/abulbasar/data/tree/master/movielens


1. Load movies.csv as movies dataframe
2. How many rows and columns are there in movies [Ans: (9125, 3)]
3. Load ratings.csv as ratings dataframe
4. How many rows and columns are there in ratings?
5. Is there any null values in movies or ratings dataframes
6. How many movies are there with god in name [case insensitive]? [Ans: 45]
7. Find avg rating and count of rating for each movieId [
Ans: 
```
1	3.872470	247.0
2	3.401869	107.0
3	3.161017	59.0
4	2.384615	13.0
```
]
8. Find top 10 movies with highest avg rating. Each top 10 movies must have at least 100 ratings
[Hint: use pd.merge function to join 2 dataframes]. Display movie name, movie id and avg rating

```
695	4.487500	858	Godfather, The (1972)
284	4.487138	318	Shawshank Redemption, The (1994)
977	4.385185	1221	Godfather: Part II, The (1974)
48	4.370647	50	Usual Suspects, The (1995)
472	4.303279	527	Schindler's List (1993)
951	4.256944	1193	One Flew Over the Cuckoo's Nest (1975)
535	4.256696	608	Fargo (1996)
266	4.256173	296	Pulp Fiction (1994)
2288	4.236364	2858	American Beauty (1999)
6916	4.235537	58559	Dark Knight, The (2008)

```

In [20]:
# Load movies.csv as movies dataframe
movies_path = "https://raw.githubusercontent.com/abulbasar/data/master/movielens/movies.csv"
movies = pd.read_csv(movies_path)

In [21]:
# How many rows and columns are there in movies
movies.shape

(9125, 3)

In [23]:
# Load ratings.csv as movies dataframe
ratings_path = "https://raw.githubusercontent.com/abulbasar/data/master/movielens/ratings.csv"
ratings = pd.read_csv(ratings_path)

In [26]:
# Is there any null values in movies dataframe
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [28]:
# Is there any null values in ratings dataframe
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [33]:
# How many movies are there with god in name [case insensitive]?
movies[movies.title.apply(lambda s: "god" in s.lower())]

,movieId,title,genres
695,858,"Godfather, The (1972)",Crime|Drama
767,947,My Man Godfrey (1936),Comedy|Romance
927,1167,Dear God (1996),Comedy
977,1221,"Godfather: Part II, The (1974)",Crime|Drama
1311,1647,Playing God (1997),Crime|Drama|Thriller
1400,1796,In God's Hands (1998),Action|Drama
1453,1882,Godzilla (1998),Action|Sci-Fi|Thriller
1585,2023,"Godfather: Part III, The (1990)",Crime|Drama|Mystery|Thriller
1708,2150,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
1709,2151,"Gods Must Be Crazy II, The (1989)",Comedy
1829,2312,Children of a Lesser God (1986),Drama
1846,2333,Gods and Monsters (1998),Drama
1873,2363,Godzilla (Gojira) (1954),Drama|Horror|Sci-Fi
1874,2364,Godzilla 1985: The Legend Is Reborn (Gojira) (...,Action|Horror|Sci-Fi|Thriller
1875,2365,King Kong vs. Godzilla (Kingukongu tai Gojira)...,Action|Sci-Fi
2001,2499,God Said 'Ha!' (1998),Comedy
2307,2879,Armour of God II: Operation Condor (Operation ...,Action|Adventure|Comedy
2308,2880,Armour of God (Long xiong hu di) (1987),Action|Adventure|Comedy
2488,3096,My Man Godfrey (1957),Comedy
2607,3251,Agnes of God (1985),Drama|Mystery
2675,3343,And God Created Woman (1988),Comedy|Drama|Romance
3075,3845,And God Created Woman (Et Dieu... créa la femm...,Drama
3090,3864,Godzilla 2000 (Gojira ni-sen mireniamu) (1999),Action|Adventure|Sci-Fi
4001,5214,"Oh, God! (1977)",Comedy|Fantasy
4244,5638,Godzilla vs. Mothra (Mosura tai Gojira) (1964),Action|Adventure|Fantasy|Sci-Fi
4432,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
4501,6186,Gods and Generals (2003),Action|Drama|War
4720,6600,...And God Spoke (1993),Comedy
4966,7063,"Aguirre: The Wrath of God (Aguirre, der Zorn G...",Adventure|Drama
5157,7449,Godsend (2004),Drama|Horror|Thriller
5191,7587,"Samouraï, Le (Godson, The) (1967)",Crime|Drama|Thriller
5470,8607,Tokyo Godfathers (2003),Adventure|Animation|Drama
6070,32078,Godzilla vs. Mechagodzilla II (Gojira VS Mekag...,Action|Drama|Sci-Fi
7335,71433,"Black God, White Devil (Deus e o Diabo na Terr...",Adventure|Crime|Drama|Western
7677,82035,Cocaine Cowboys II: Hustlin' With the Godmothe...,Crime|Documentary
8034,93855,God Bless America (2011),Comedy|Drama
8323,102684,Only God Forgives (2013),Drama|Thriller
8376,104069,Louis C.K.: Oh My God (2013),Comedy
8493,107953,Dragon Ball Z: Battle of Gods (2013),Action|Animation|Fantasy|IMAX
8583,111364,Godzilla (2014),Action|Adventure|Sci-Fi|IMAX
8587,111505,"Love God?, The (1969)",Comedy
8621,112550,White God (Fehér isten) (2014),Drama
8668,114082,Bambi Meets Godzilla (1969),Animation|Comedy
8723,116887,Exodus: Gods and Kings (2014),Action|Adventure|Drama
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi

In [36]:
# Find avg rating and count of rating for each movieId
ratings.groupby("movieId").rating.agg([np.mean,len])

             mean    len
movieId
1        3.872470  247.0
2        3.401869  107.0
3        3.161017   59.0
4        2.384615   13.0
5        3.267857   56.0
6        3.884615  104.0
7        3.283019   53.0
8        3.800000    5.0
9        3.150000   20.0
10       3.450820  122.0
11       3.689024   82.0
12       2.861111   18.0
13       3.937500    8.0
14       3.451613   31.0
15       2.318182   11.0
16       3.948864   88.0
17       3.924419   86.0
18       3.288462   26.0
19       2.597826   92.0
20       2.538462   13.0
21       3.536842   95.0
22       3.355263   38.0
23       3.090909   22.0
24       3.044118   34.0
25       3.742574  101.0
26       4.100000    5.0
27       3.142857    7.0
28       4.083333   18.0
29       4.025000   40.0
30       4.050000   10.0
...           ...    ...
158238   3.750000    2.0
158314   4.500000    1.0
158528   3.500000    1.0
158956   4.000000    1.0
159093   2.000000    2.0
159462   3.000000    1.0
159690   2.000000    1.0
159755   1.000000    1.0
159858   3.750000    2.0
159972   0.500000    1.0
160080   1.000000    1.0
160271   2.500000    1.0
160438   4.250000    2.0
160440   1.500000    1.0
160563   2.500000    2.0
160565   2.000000    1.0
160567   4.000000    1.0
160590   5.000000    1.0
160656   3.500000    1.0
160718   4.000000    1.0
161084   2.500000    1.0
161155   0.500000    1.0
161594   3.000000    1.0
161830   1.000000    1.0
161918   1.500000    1.0
161944   5.000000    1.0
162376   4.500000    1.0
162542   5.000000    1.0
162672   3.000000    1.0
163949   5.000000    1.0

[9066 rows x 2 columns]

In [42]:
# Find top 10 movies with highest avg rating. 
# Each top 10 movies must have at least 100 ratings

avg_rating = ratings.groupby("movieId").rating.agg([np.mean,len])
top10 = (avg_rating
         .query("len>100")
         .sort_values("mean", ascending = False)
         .iloc[:10, :])
top10

             mean    len
movieId
858      4.487500  200.0
318      4.487138  311.0
1221     4.385185  135.0
50       4.370647  201.0
527      4.303279  244.0
1193     4.256944  144.0
608      4.256696  224.0
296      4.256173  324.0
2858     4.236364  220.0
58559    4.235537  121.0

In [44]:
top10.merge(movies, left_index=True
    , right_on="movieId")[["mean", "movieId", "title"]]

          mean  movieId                                   title
695   4.487500      858                   Godfather, The (1972)
284   4.487138      318        Shawshank Redemption, The (1994)
977   4.385185     1221          Godfather: Part II, The (1974)
48    4.370647       50              Usual Suspects, The (1995)
472   4.303279      527                 Schindler's List (1993)
951   4.256944     1193  One Flew Over the Cuckoo's Nest (1975)
535   4.256696      608                            Fargo (1996)
266   4.256173      296                     Pulp Fiction (1994)
2288  4.236364     2858                  American Beauty (1999)
6916  4.235537    58559                 Dark Knight, The (2008)