In [1]:
import pandas as pd
from sklearn import *

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [2]:
df = pd.read_csv("/data/credit-default.csv")
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [3]:
df.default.value_counts()

1    700
2    300
Name: default, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_length       1000 non-null object
installment_rate        1000 non-null int64
personal_status         1000 non-null object
other_debtors           1000 non-null object
residence_history       1000 non-null int64
property                1000 non-null object
age                     1000 non-null int64
installment_plan        1000 non-null object
housing                 1000 non-null object
existing_credits        1000 non-null int64
default                 1000 non-null int64
dependents              1000 non-null int64
telephone               1000 non-null object
foreign_worker          1000 non-null object
job                     1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [5]:
target = "default"
X = df.drop(columns=[target]) # Features
y = preprocessing.LabelEncoder().fit_transform(df[target]) # target variable

X = pd.get_dummies(X, drop_first=True) # One hot encoding

# Randomly split the data into training and test test. 
# Keeping 30% of the records in test set.
# random_state creates a reproducible set of random samples 
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                                , test_size = 0.3, random_state = 1)


pipe = pipeline.Pipeline([
    ("poly", preprocessing.PolynomialFeatures(degree=1, include_bias=False)),
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.LogisticRegression())
])
pipe.fit(X_train, y_train)

y_train_pred = pipe.predict(X_train)
y_test_pred = pipe.predict(X_test)

In [6]:
pd.DataFrame({"actual": y_test, "prediction": y_test_pred})

     actual  prediction
0         1           0
1         0           1
2         0           0
3         1           1
4         1           1
5         0           1
6         0           0
7         0           0
8         0           0
9         0           0
10        1           1
11        0           0
12        0           0
13        0           0
14        0           0
15        0           0
16        0           0
17        0           0
18        0           0
19        1           1
20        0           0
21        1           1
22        1           0
23        0           0
24        0           0
25        0           0
26        0           0
27        1           0
28        1           0
29        1           1
..      ...         ...
270       0           0
271       0           0
272       1           1
273       0           0
274       1           0
275       0           0
276       0           0
277       0           0
278       0           0
279       0           1
280       1           0
281       0           0
282       1           0
283       0           1
284       0           0
285       1           0
286       0           0
287       0           0
288       1           0
289       1           0
290       0           0
291       0           0
292       0           1
293       0           0
294       1           0
295       0           0
296       0           0
297       0           0
298       0           0
299       1           0

[300 rows x 2 columns]

In [7]:
metrics.confusion_matrix(y_test, y_test_pred)

array([[188,  26],
       [ 47,  39]])

In [11]:
len(y_test)

300

In [12]:
188 + 26 + 47+39

300

In [10]:
metrics.accuracy_score(y_test, y_test_pred)

0.7566666666666667

In [13]:
(188+39)/300

0.7566666666666667

In [14]:
pd.Series(y_train).value_counts()

0    486
1    214
dtype: int64

In [15]:
pd.Series(y_train).value_counts()/700

0    0.694286
1    0.305714
dtype: float64

In [16]:
pd.Series(y_test).value_counts()/300

0    0.713333
1    0.286667
dtype: float64

In [23]:
y_test_prob = pipe.predict_proba(X_test)[:, 1]
y_test_pred = np.where(y_test_prob > 0.0, 1, 0)
metrics.confusion_matrix(y_test, y_test_pred)

array([[  0, 214],
       [  0,  86]])