In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("/data/insurance.csv")
df.head(10)

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [24]:
from sklearn import model_selection, preprocessing, linear_model

In [70]:
# dependent variable/target varible/label
label = "charges"

# independepent variables/features/predictors
X = df.drop(columns=[label])

# vector for target variable
y = df[label]

# one hot encoding to conver categorical features into numeric
# drop_first: remove first categorical feature ... it is redundant
X = pd.get_dummies(X, drop_first=True)

# Creating trainnig and test sets
# test_size is 30% of the whole
# random_state: to reprduce the same combination of training and test records
X_train, X_test, y_train, y_test = model_selection.train_test_split(X.values, 
                                                                    
                                                                    y, test_size = 0.3
                                                        , random_state = 1)

print("size of training:", len(X_train)/len(X))

# We want to calcualate z score for each column 
scaler = preprocessing.StandardScaler()

# We calcualte mean and std dev for each column
scaler.fit(X_train)

# Calculating the z scores
# purpose of z scoring is make mean = 0 and std = 1 for each column
X_train_std = scaler.transform(X_train)

# Displaying the mean and standard deviation of the stadandarized features
pd.DataFrame(X_train_std).describe()

# Applying the same transformation on the test data
X_test_std = scaler.transform(X_test)

# building a regression model
est = linear_model.LinearRegression()
est.fit(X_train_std, y_train)

# prediction on training and test data
y_train_pred = est.predict(X_train_std)
y_test_pred = est.predict(X_test_std)

size of training: 0.6995515695067265

In [71]:
summary = pd.DataFrame({"actual": y_test, "prediction": y_test_pred})
summary["residual"] = summary.prediction - summary.actual
summary

           actual    prediction      residual
559    1646.42970   4610.315541   2963.885841
1087  11353.22760  12887.893880   1534.666280
1020   8798.59300  12573.948752   3775.355752
460   10381.47870  13197.836626   2816.357926
802    2103.08000    629.337182  -1473.742818
298   38746.35510  32357.257584  -6389.097516
481    9304.70190  12853.778438   3549.076538
616   11658.11505  12273.662540    615.547490
763    3070.80870   3865.164045    794.355345
750   19539.24300  29904.111392  10364.868392
48    12629.89670  11030.536184  -1599.360516
547   11538.42100  17428.893541   5890.472541
1143   6338.07560   8670.208104   2332.132504
767    7050.64200   8357.459712   1306.817712
194    1137.46970   3368.753659   2231.283959
424    8968.33000  10316.585740   1348.255740
3     21984.47061   3999.221358 -17985.249252
785    6414.17800   6866.509328    452.331328
443   28287.89766  14989.263965 -13298.633695
921   13462.52000  14400.167009    937.647009
315    9722.76950  12484.860025   2762.090525
725   40932.42950  33255.453304  -7676.976196
88     8026.66660   9177.111104   1150.444504
310    8444.47400   8969.420175    524.946175
471    2203.47185   3199.783106    996.311256
726    6664.68595   8195.258443   1530.572493
60     8606.21740   9355.744165    749.526765
1280   8283.68070  10847.377942   2563.697242
705    5375.03800   7694.604698   2319.566698
101    3645.08940   4436.447849    791.358449
...           ...           ...           ...
1197   5699.83750   8873.734143   3173.896643
520   25656.57526  10365.420802 -15291.154458
408    6652.52880   5146.284716  -1506.244084
403   10269.46000  12154.347446   1884.887446
1084  15019.76005  14782.131446   -237.628604
1276   2741.94800   4298.391463   1556.443463
660    6435.62370  13086.510055   6650.886355
1229  11938.25595  13045.515296   1107.259346
774    7261.74100  10408.467573   3146.726573
909   17496.30600  28136.555213  10640.249213
1196  33307.55080  27176.138386  -6131.412414
641   32787.45859  33165.632331    378.173741
959   28468.91901  12621.577467 -15847.341543
264   20462.99766  14665.580509  -5797.417151
493   12574.04900  17154.057687   4580.008687
625    3736.46470   4347.234024    610.769324
1225   4795.65680   9509.419524   4713.762724
927   12032.32600   9263.424639  -2768.901361
53    37742.57570  31958.417709  -5784.157991
1301  46718.16325  39026.197693  -7691.965557
347    8334.45755  11350.360054   3015.902504
1022  42211.13820  35603.824507  -6607.313693
1291  34828.65400  27902.502419  -6926.151581
1188  21771.34230  32334.209245  10562.866945
764    9095.06825   9092.519788     -2.548462
323   11566.30055  16224.053528   4657.752978
1268   1880.48700   3861.767583   1981.280583
134    2457.21115   3274.369325    817.158175
1274  17043.34140  27065.591340  10022.249940
876   26140.36030   9506.693466 -16633.666834

[402 rows x 3 columns]

In [72]:
pd.DataFrame({"feature": X.columns, "coefficient": est.coef_})

            feature  coefficient
0               age  3528.982731
1               bmi  1961.655208
2          children   421.550164
3       gender_male  -141.359110
4        smoker_yes  9733.786883
5  region_northwest  -129.545886
6  region_southeast  -414.541483
7  region_southwest  -379.095344

In [65]:
est.intercept_

13276.698553898497

In [31]:
import numpy as np

In [33]:
mae = np.mean(np.abs(summary.residual))
mae

4139.932064766016

In [34]:
mse = np.mean(summary.residual ** 2)
mse

36761456.35201327

In [35]:
rmse = np.sqrt(mse)
rmse

6063.122656850451

In [36]:
y_train_mean = np.mean(y_train)

In [39]:
sst = np.sum((y_train_mean - y_train) ** 2) # this measure is on baseline
sse = np.sum((y_train_pred - y_train) ** 2) # this measure against the model
sse/sst

0.2454442507366839

In [40]:
r2 = 1 - sse/sst
r2

0.7545557492633161

In [42]:
y_test_mean = np.mean(y_test)
sst = np.sum((y_test_mean - y_test) ** 2) # this measure is on baseline
sse = np.sum((y_test_pred - y_test) ** 2) # this measure against the model
r2_test = 1 - sse/sst
r2_test

0.740598931692721

In [43]:
from sklearn import metrics

In [69]:
print("R2 training:", metrics.r2_score(y_train, y_train_pred))
print("R2 test:", metrics.r2_score(y_test, y_test_pred))

print("Rmse training:", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Rmse: testing", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

R2 training: 0.754558730164975
R2 test: 0.7406196610211806
Rmse training: 6039.56519596171
Rmse: testing 6062.8803930600625

In [52]:
# dependent variable/target varible/label
label = "charges"

# independepent variables/features/predictors
X = df.drop(columns=[label])

X["high_bmi"] = np.where(X.bmi>30, 1, 0)
X["high_age"] = np.where(X.age>50, 1, 0)

# vector for target variable
y = np.log(df[label])

# one hot encoding to conver categorical features into numeric
# drop_first: remove first categorical feature ... it is redundant
X = pd.get_dummies(X, drop_first=True)

# Creating trainnig and test sets
# test_size is 30% of the whole
# random_state: to reprduce the same combination of training and test records
X_train, X_test, y_train, y_test = model_selection.train_test_split(X.values, 
                                                                    
                                                                    y, test_size = 0.3
                                                        , random_state = 1)

print("size of training:", len(X_train)/len(X))

# We want to calcualate z score for each column 
scaler = preprocessing.StandardScaler()

# We calcualte mean and std dev for each column
scaler.fit(X_train)

# Calculating the z scores
# purpose of z scoring is make mean = 0 and std = 1 for each column
X_train_std = scaler.transform(X_train)

# Displaying the mean and standard deviation of the stadandarized features
pd.DataFrame(X_train_std).describe()

# Applying the same transformation on the test data
X_test_std = scaler.transform(X_test)

# building a regression model
est = linear_model.LinearRegression()
est.fit(X_train_std, y_train)

# prediction on training and test data
y_train_pred = est.predict(X_train_std)
y_test_pred = est.predict(X_test_std)

print("R2 training:", metrics.r2_score(y_train, y_train_pred))
print("R2 test:", metrics.r2_score(y_test, y_test_pred))

print("Rmse training:", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Rmse: testing", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

size of training: 0.6995515695067265
R2 training: 0.7597949596783904
R2 test: 0.7890454142619109
Rmse training: 0.4509134476136262
Rmse: testing 0.4212505908115039

In [73]:
# dependent variable/target varible/label
label = "charges"

# independepent variables/features/predictors
X = df.drop(columns=[label])

X["high_bmi"] = np.where(X.bmi>30, 1, 0)
X["high_age"] = np.where(X.age>50, 1, 0)

# vector for target variable
y = np.log(df[label])

# one hot encoding to conver categorical features into numeric
# drop_first: remove first categorical feature ... it is redundant
X = pd.get_dummies(X, drop_first=True)

# Creating trainnig and test sets
# test_size is 30% of the whole
# random_state: to reprduce the same combination of training and test records
X_train, X_test, y_train, y_test = model_selection.train_test_split(X.values, 
                                                                    
                                                                    y, test_size = 0.3
                                                        , random_state = 1)

print("size of training:", len(X_train)/len(X))

# We want to calcualate z score for each column 
scaler = preprocessing.StandardScaler()

poly = preprocessing.PolynomialFeatures(degree=2, include_bias=False)


X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

scaler.fit(X_train_poly)
# Calculating the z scores
# purpose of z scoring is make mean = 0 and std = 1 for each column
X_train_std = scaler.transform(X_train_poly)


# Displaying the mean and standard deviation of the stadandarized features
pd.DataFrame(X_train_std).describe()

# Applying the same transformation on the test data
X_test_std = scaler.transform(X_test_poly)

# building a regression model
est = linear_model.LinearRegression()
est.fit(X_train_std, y_train)

# prediction on training and test data
y_train_pred = est.predict(X_train_std)
y_test_pred = est.predict(X_test_std)

print("R2 training:", metrics.r2_score(y_train, y_train_pred))
print("R2 test:", metrics.r2_score(y_test, y_test_pred))

print("Rmse training:", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Rmse: testing", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

size of training: 0.6995515695067265
R2 training: 0.8371423307076078
R2 test: 0.8747843201744885
Rmse training: 0.37128400233098263
Rmse: testing 0.32454535338893015

In [74]:
X_train_std.shape

(936, 65)

In [56]:
a = np.array([
    [1, 0, 1],
    [1, 2, 3],
    [-1, 2, 1],
    [2, 3, 4]
])
poly = preprocessing.PolynomialFeatures(degree=2, include_bias=False)
poly.fit_transform(a)

array([[ 1.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  1.],
       [ 1.,  2.,  3.,  1.,  2.,  3.,  4.,  6.,  9.],
       [-1.,  2.,  1.,  1., -2., -1.,  4.,  2.,  1.],
       [ 2.,  3.,  4.,  4.,  6.,  8.,  9., 12., 16.]])

In [75]:
from sklearn import pipeline

In [78]:
# dependent variable/target varible/label
label = "charges"

# independepent variables/features/predictors
X = df.drop(columns=[label])

X["high_bmi"] = np.where(X.bmi>30, 1, 0)
X["high_age"] = np.where(X.age>50, 1, 0)

# vector for target variable
y = np.log(df[label])

# one hot encoding to conver categorical features into numeric
# drop_first: remove first value of a categorical feature ... it is redundant
X = pd.get_dummies(X, drop_first=True)

# Creating trainnig and test sets
# test_size is 30% of the whole
# random_state: to reprduce the same combination of training and test records
X_train, X_test, y_train, y_test = model_selection.train_test_split(X.values, 
                                                                    
                                                                    y, test_size = 0.3
                                                        , random_state = 1)


pipe = pipeline.Pipeline([
    ("poly", preprocessing.PolynomialFeatures(degree=2, include_bias=False)),
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.LinearRegression())
])

pipe.fit(X_train, y_train)

# prediction on training and test data
y_train_pred = pipe.predict(X_train)
y_test_pred = pipe.predict(X_test)

print("R2 training:", metrics.r2_score(y_train, y_train_pred))
print("R2 test:", metrics.r2_score(y_test, y_test_pred))

print("Rmse training:", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Rmse: testing", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

R2 training: 0.8371423307076078
R2 test: 0.8747843201744885
Rmse training: 0.37128400233098263
Rmse: testing 0.32454535338893015