# Exercise

https://github.com/abulbasar/data/tree/master/movielens

Dataset, source: grouplens.org
1. Load movies.csv as movies dataframe and ratings.csv as ratings dataframe
2. How many records are there in movies and ratings dataframe
3. Find the movies, for which title contains Godfather? [Hint: use movies.title.str.contains() to find substring in title]
4. How many ratings the movie "Godfather, The (1972)" has received?[Answer: 200]
5. Using ratings dataframe, calculate average rating and number of ratings for each movie. What is the average rating for "Godfather, The (1972)" [Answer: 4.487]
6. Remove all movie Id that have received fewer than 100 ratings. How many such movies are there? [Answer: 149]
7. Sort the data by avg rating and take top 10 records. 
8. Merge the output with movies dataframe to show title. [Hint: call pd.merge function]

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv("/data/movielens/movies.csv")
ratings = pd.read_csv("/data/movielens/ratings.csv")

In [4]:
movies.shape[0]

9125

In [5]:
ratings.shape[0]

100004

In [8]:
movies[movies.title.str.contains("Godfather")]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [11]:
god_father_movie_id = int(movies[movies.title == "Godfather, The (1972)"].movieId)
god_father_movie_id

858

In [13]:
ratings[ratings.movieId == god_father_movie_id].shape

(200, 4)

In [16]:
rating_avg = ratings.groupby("movieId").rating.agg(["mean", "count"])
rating_avg

             mean  count
movieId
1        3.872470    247
2        3.401869    107
3        3.161017     59
4        2.384615     13
5        3.267857     56
6        3.884615    104
7        3.283019     53
8        3.800000      5
9        3.150000     20
10       3.450820    122
11       3.689024     82
12       2.861111     18
13       3.937500      8
14       3.451613     31
15       2.318182     11
16       3.948864     88
17       3.924419     86
18       3.288462     26
19       2.597826     92
20       2.538462     13
21       3.536842     95
22       3.355263     38
23       3.090909     22
24       3.044118     34
25       3.742574    101
26       4.100000      5
27       3.142857      7
28       4.083333     18
29       4.025000     40
30       4.050000     10
...           ...    ...
158238   3.750000      2
158314   4.500000      1
158528   3.500000      1
158956   4.000000      1
159093   2.000000      2
159462   3.000000      1
159690   2.000000      1
159755   1.000000      1
159858   3.750000      2
159972   0.500000      1
160080   1.000000      1
160271   2.500000      1
160438   4.250000      2
160440   1.500000      1
160563   2.500000      2
160565   2.000000      1
160567   4.000000      1
160590   5.000000      1
160656   3.500000      1
160718   4.000000      1
161084   2.500000      1
161155   0.500000      1
161594   3.000000      1
161830   1.000000      1
161918   1.500000      1
161944   5.000000      1
162376   4.500000      1
162542   5.000000      1
162672   3.000000      1
163949   5.000000      1

[9066 rows x 2 columns]

In [20]:
rating_avg.loc[god_father_movie_id, :]["mean"]

4.4875

In [27]:
top10 = rating_avg[rating_avg["count"]>=100]\
.sort_values("mean", ascending = False).iloc[:10,:]

top10

             mean  count
movieId
858      4.487500    200
318      4.487138    311
1221     4.385185    135
50       4.370647    201
527      4.303279    244
1193     4.256944    144
608      4.256696    224
296      4.256173    324
2858     4.236364    220
58559    4.235537    121

In [28]:
top10.merge(movies, on = "movieId")

,movieId,mean,count,title,genres
0,858,4.487500,200,"Godfather, The (1972)",Crime|Drama
1,318,4.487138,311,"Shawshank Redemption, The (1994)",Crime|Drama
2,1221,4.385185,135,"Godfather: Part II, The (1974)",Crime|Drama
3,50,4.370647,201,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
4,527,4.303279,244,Schindler's List (1993),Drama|War
5,1193,4.256944,144,One Flew Over the Cuckoo's Nest (1975),Drama
6,608,4.256696,224,Fargo (1996),Comedy|Crime|Drama|Thriller
7,296,4.256173,324,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
8,2858,4.236364,220,American Beauty (1999),Drama|Romance
9,58559,4.235537,121,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX