In [33]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/data/insurance.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df.head(10)

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [8]:
df.tail(10)

      age  gender     bmi  children smoker     region      charges
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

In [9]:
df.sample(10)

      age  gender     bmi  children smoker     region      charges
521    32  female  44.220         0     no  southeast   3994.17780
1154   48  female  27.930         4     no  northwest  11015.17470
528    46    male  39.425         1     no  northeast   8342.90875
1237   58  female  28.215         0     no  northwest  12224.35085
804    23    male  26.510         0     no  southeast   1815.87590
666    49    male  28.700         1     no  southwest   8703.45600
748    47  female  36.000         1     no  southwest   8556.90700
905    26  female  29.355         2     no  northeast   4564.19145
1316   19  female  20.600         0     no  southwest   1731.67700
488    44  female  38.060         0    yes  southeast  48885.13561

Common tasks

1. filter 
2. subset ... by index position, or by column/row names
3. grouping 
4. transformation
5. sort
6. merge

In [11]:
df[df.gender == "female"]

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
11     62  female  26.290         0    yes  southeast  27808.72510
13     56  female  39.820         0     no  southeast  11090.71780
16     52  female  30.780         1     no  northeast  10797.33620
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
23     34  female  31.920         1    yes  northeast  37701.87680
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
36     62  female  32.965         3     no  northwest  15612.19335
40     24  female  26.600         0     no  northeast   3046.06200
41     31  female  36.630         2     no  southeast   4949.75870
43     37  female  30.800         2     no  southeast   6313.75900
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
48     60  female  24.530         0     no  southeast  12629.89670
50     18  female  35.625         0     no  northeast   2211.13075
51     21  female  33.630         2     no  northwest   3579.82870
54     40  female  28.690         3     no  northwest   8059.67910
56     58  female  31.825         2     no  northeast  13607.36875
58     53  female  22.880         1    yes  southeast  23244.79020
59     34  female  37.335         2     no  northwest   5989.52365
63     28  female  25.935         1     no  northwest   4133.64165
...   ...     ...     ...       ...    ...        ...          ...
1277   32  female  29.735         0     no  northwest   4357.04365
1279   25  female  26.790         2     no  northwest   4189.11310
1280   48  female  33.330         0     no  southeast   8283.68070
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1285   47  female  24.320         0     no  northeast   8534.67180
1286   28  female  17.290         0     no  northeast   3732.62510
1287   36  female  25.900         1     no  southwest   5472.44900
1290   38  female  19.950         2     no  northeast   7133.90250
1297   28  female  26.510         2     no  southeast   4340.44090
1299   19  female  25.745         1     no  northwest   2710.82855
1302   25  female  20.800         1     no  southwest   3208.78700
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1311   33  female  26.695         0     no  northwest   4571.41305
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1316   19  female  20.600         0     no  southwest   1731.67700
1319   39  female  26.315         2     no  northwest   7201.70085
1323   42  female  40.370         2    yes  southeast  43896.37630
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[662 rows x 7 columns]

In [13]:
df[(df.gender == "female") & (df.age < 30)]

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
40     24  female  26.600         0     no  northeast   3046.06200
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
50     18  female  35.625         0     no  northeast   2211.13075
51     21  female  33.630         2     no  northwest   3579.82870
63     28  female  25.935         1     no  northwest   4133.64165
64     20  female  22.420         0    yes  northwest  14711.74380
65     19  female  28.900         0     no  southwest   1743.21400
70     27  female  24.750         0    yes  southeast  16577.77950
76     29  female  29.590         1     no  southeast   3947.41310
78     22  female  39.805         0     no  northeast   2755.02095
90     21  female  39.490         0     no  southeast   2026.97410
95     28  female  37.620         1     no  southeast   3766.88380
102    18  female  30.115         0     no  northeast  21344.84670
106    19  female  28.400         1     no  southwest   2331.51900
113    21  female  35.720         0     no  northwest   2404.73380
117    29  female  27.940         1    yes  southeast  19107.77960
122    20  female  28.975         0     no  northwest   2257.47525
125    26  female  28.785         0     no  northeast   3385.39915
126    19  female  28.300         0    yes  southwest  17081.08000
134    20  female  28.785         0     no  northeast   2457.21115
135    22  female  28.050         0     no  southeast   2155.68150
139    22  female  36.000         0     no  southwest   2166.73200
145    29  female  38.830         3     no  southeast   5138.25670
161    18  female  36.850         0    yes  southeast  36149.48350
166    20  female  37.000         5     no  southwest   4830.63000
168    19  female  31.825         1     no  northwest   2719.27975
...   ...     ...     ...       ...    ...        ...          ...
1189   23  female  28.000         0     no  southwest  13126.67745
1195   19  female  27.930         3     no  northwest  18838.70366
1196   19  female  30.020         0    yes  northwest  33307.55080
1204   18  female  27.280         3    yes  southeast  18223.45120
1214   27  female  31.255         1     no  northwest   3956.07145
1223   20  female  24.420         0    yes  southeast  26125.67477
1231   20  female  21.800         0    yes  southwest  20167.33603
1239   25  female  42.130         1     no  southeast   3238.43570
1242   22  female  21.280         3     no  northwest   4296.27120
1243   28  female  33.110         0     no  southeast   3171.61490
1248   18  female  39.820         0     no  southeast   1633.96180
1268   20  female  33.300         0     no  southwest   1880.48700
1271   25  female  34.485         0     no  northwest   3021.80915
1276   22  female  30.400         0     no  northeast   2741.94800
1279   25  female  26.790         2     no  northwest   4189.11310
1282   18  female  21.660         0    yes  northeast  14283.45940
1286   28  female  17.290         0     no  northeast   3732.62510
1297   28  female  26.510         2     no  southeast   4340.44090
1299   19  female  25.745         1     no  northwest   2710.82855
1302   25  female  20.800         1     no  southwest   3208.78700
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1316   19  female  20.600         0     no  southwest   1731.67700
1328   23  female  24.225         2     no  northeast  22395.74424
1331   23  female  33.400         0     no  southwest  10795.93733
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500

[201 rows x 7 columns]

In [14]:
df.query("gender == 'female' and age < 30")

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
40     24  female  26.600         0     no  northeast   3046.06200
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
50     18  female  35.625         0     no  northeast   2211.13075
51     21  female  33.630         2     no  northwest   3579.82870
63     28  female  25.935         1     no  northwest   4133.64165
64     20  female  22.420         0    yes  northwest  14711.74380
65     19  female  28.900         0     no  southwest   1743.21400
70     27  female  24.750         0    yes  southeast  16577.77950
76     29  female  29.590         1     no  southeast   3947.41310
78     22  female  39.805         0     no  northeast   2755.02095
90     21  female  39.490         0     no  southeast   2026.97410
95     28  female  37.620         1     no  southeast   3766.88380
102    18  female  30.115         0     no  northeast  21344.84670
106    19  female  28.400         1     no  southwest   2331.51900
113    21  female  35.720         0     no  northwest   2404.73380
117    29  female  27.940         1    yes  southeast  19107.77960
122    20  female  28.975         0     no  northwest   2257.47525
125    26  female  28.785         0     no  northeast   3385.39915
126    19  female  28.300         0    yes  southwest  17081.08000
134    20  female  28.785         0     no  northeast   2457.21115
135    22  female  28.050         0     no  southeast   2155.68150
139    22  female  36.000         0     no  southwest   2166.73200
145    29  female  38.830         3     no  southeast   5138.25670
161    18  female  36.850         0    yes  southeast  36149.48350
166    20  female  37.000         5     no  southwest   4830.63000
168    19  female  31.825         1     no  northwest   2719.27975
...   ...     ...     ...       ...    ...        ...          ...
1189   23  female  28.000         0     no  southwest  13126.67745
1195   19  female  27.930         3     no  northwest  18838.70366
1196   19  female  30.020         0    yes  northwest  33307.55080
1204   18  female  27.280         3    yes  southeast  18223.45120
1214   27  female  31.255         1     no  northwest   3956.07145
1223   20  female  24.420         0    yes  southeast  26125.67477
1231   20  female  21.800         0    yes  southwest  20167.33603
1239   25  female  42.130         1     no  southeast   3238.43570
1242   22  female  21.280         3     no  northwest   4296.27120
1243   28  female  33.110         0     no  southeast   3171.61490
1248   18  female  39.820         0     no  southeast   1633.96180
1268   20  female  33.300         0     no  southwest   1880.48700
1271   25  female  34.485         0     no  northwest   3021.80915
1276   22  female  30.400         0     no  northeast   2741.94800
1279   25  female  26.790         2     no  northwest   4189.11310
1282   18  female  21.660         0    yes  northeast  14283.45940
1286   28  female  17.290         0     no  northeast   3732.62510
1297   28  female  26.510         2     no  southeast   4340.44090
1299   19  female  25.745         1     no  northwest   2710.82855
1302   25  female  20.800         1     no  southwest   3208.78700
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1316   19  female  20.600         0     no  southwest   1731.67700
1328   23  female  24.225         2     no  northeast  22395.74424
1331   23  female  33.400         0     no  southwest  10795.93733
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500

[201 rows x 7 columns]

In [15]:
df.query("gender == 'female' and age < 30").shape

(201, 7)

In [16]:
df.shape

(1338, 7)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [18]:
df.age

0       19
1       18
2       28
3       33
4       32
5       31
6       46
7       37
8       37
9       60
10      25
11      62
12      23
13      56
14      27
15      19
16      52
17      23
18      56
19      30
20      60
21      30
22      18
23      34
24      37
25      59
26      63
27      55
28      23
29      31
        ..
1308    25
1309    41
1310    42
1311    33
1312    34
1313    19
1314    30
1315    18
1316    19
1317    18
1318    35
1319    39
1320    31
1321    62
1322    62
1323    42
1324    31
1325    61
1326    42
1327    51
1328    23
1329    52
1330    57
1331    23
1332    52
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [19]:
df["age"]

0       19
1       18
2       28
3       33
4       32
5       31
6       46
7       37
8       37
9       60
10      25
11      62
12      23
13      56
14      27
15      19
16      52
17      23
18      56
19      30
20      60
21      30
22      18
23      34
24      37
25      59
26      63
27      55
28      23
29      31
        ..
1308    25
1309    41
1310    42
1311    33
1312    34
1313    19
1314    30
1315    18
1316    19
1317    18
1318    35
1319    39
1320    31
1321    62
1322    62
1323    42
1324    31
1325    61
1326    42
1327    51
1328    23
1329    52
1330    57
1331    23
1332    52
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [20]:
df[["age", "gender"]]

      age  gender
0      19  female
1      18    male
2      28    male
3      33    male
4      32    male
5      31  female
6      46  female
7      37  female
8      37    male
9      60  female
10     25    male
11     62  female
12     23    male
13     56  female
14     27    male
15     19    male
16     52  female
17     23    male
18     56    male
19     30    male
20     60  female
21     30  female
22     18    male
23     34  female
24     37    male
25     59  female
26     63  female
27     55  female
28     23    male
29     31    male
...   ...     ...
1308   25  female
1309   41    male
1310   42    male
1311   33  female
1312   34    male
1313   19  female
1314   30  female
1315   18    male
1316   19  female
1317   18    male
1318   35    male
1319   39  female
1320   31    male
1321   62    male
1322   62    male
1323   42  female
1324   31    male
1325   61    male
1326   42  female
1327   51    male
1328   23  female
1329   52    male
1330   57  female
1331   23  female
1332   52  female
1333   50    male
1334   18  female
1335   18  female
1336   21  female
1337   61  female

[1338 rows x 2 columns]

In [21]:
df.iloc[5:10, [2, 3]]

     bmi  children
5  25.74         0
6  33.44         1
7  27.74         3
8  29.83         2
9  25.84         0

In [22]:
df.loc[5:10, ["bmi", "children"]]

      bmi  children
5   25.74         0
6   33.44         1
7   27.74         3
8   29.83         2
9   25.84         0
10  26.22         0

In [24]:
df.sort_values("bmi")

      age  gender     bmi  children smoker     region      charges
172    18    male  15.960         0     no  northeast   1694.79640
428    21  female  16.815         1     no  northeast   3167.45585
1226   38    male  16.815         2     no  northeast   6640.54485
412    26  female  17.195         2    yes  northeast  14455.64405
1286   28  female  17.290         0     no  northeast   3732.62510
1029   37  female  17.290         2     no  northeast   6877.98010
250    18    male  17.290         2    yes  northeast  12829.45510
28     23    male  17.385         1     no  northwest   2775.19215
680    21  female  17.400         1     no  southwest   2585.26900
410    19    male  17.480         0     no  northwest   1621.34020
821    26    male  17.670         0     no  northwest   2680.94930
128    32  female  17.765         2    yes  northwest  32734.18630
232    19  female  17.800         0     no  southwest   1727.78500
1205   35    male  17.860         1     no  northwest   5116.50040
380    27  female  17.955         2    yes  northeast  15006.57945
198    51  female  18.050         0     no  northwest   9644.25250
1085   39  female  18.300         5    yes  southwest  19023.26000
1074   60  female  18.335         0     no  northeast  13204.28565
1133   52  female  18.335         0     no  northwest   9991.03765
950    57    male  18.335         0     no  northeast  11534.87265
684    33  female  18.500         1     no  southwest   4766.02200
1129   19  female  18.600         0     no  southwest   1728.89700
1027   23    male  18.715         0     no  northwest  21595.38229
169    27    male  18.905         3     no  northeast   4827.90495
613    34  female  19.000         3     no  northeast   6753.03800
1100   33  female  19.095         2    yes  northeast  16776.30405
1004   47    male  19.190         1     no  northeast   8627.54110
99     38    male  19.300         0    yes  southwest  15820.69900
769    38  female  19.475         2     no  northwest   6933.24225
591    47    male  19.570         1     no  northwest   8428.06930
...   ...     ...     ...       ...    ...        ...          ...
867    57    male  43.700         1     no  southwest  11576.13000
356    46    male  43.890         3     no  southeast   8944.11510
674    44  female  43.890         2    yes  southeast  46200.98510
895    61  female  44.000         0     no  southwest  13063.88300
796    30    male  44.220         2     no  southeast   4266.16580
521    32  female  44.220         0     no  southeast   3994.17780
1332   52  female  44.700         3     no  southwest  11411.68500
701    50  female  44.745         0     no  northeast   9541.69555
563    50    male  44.770         1     no  southeast   9058.73030
1156   19    male  44.880         0    yes  southeast  39722.74620
1024   47  female  45.320         1     no  southeast   8569.86180
582    39    male  45.430         2     no  southeast   6356.27070
292    25    male  45.540         2    yes  southeast  42112.23560
1131   27    male  45.900         2     no  southwest   3693.42800
941    50  female  46.090         1     no  southeast   9549.56510
549    43  female  46.200         0    yes  southeast  45863.20500
454    32    male  46.530         2     no  southeast   4686.38870
660    37    male  46.530         3     no  southeast   6435.62370
930    26    male  46.530         1     no  southeast   2927.06470
547    54  female  46.700         2     no  southwest  11538.42100
438    52  female  46.750         5     no  southeast  12592.53450
543    54  female  47.410         0    yes  southeast  63770.42801
401    47    male  47.520         1     no  southeast   8083.91980
860    37  female  47.600         2    yes  southwest  46113.51100
1088   52    male  47.740         1     no  southeast   9748.91060
286    46  female  48.070         2     no  northeast   9432.92530
116    58    male  49.060         0     no  southeast  11381.32540
847    23    male  50.380         1     no  southeast   2438.05520
1047   22    male  52.580         1    yes  southeast  44501.39820
1317   18    male  53.130         0     no  southeast   1163.46270

[1338 rows x 7 columns]

In [26]:
df.sort_values("bmi", ascending = False).iloc[:5, ]

      age  gender    bmi  children smoker     region     charges
1317   18    male  53.13         0     no  southeast   1163.4627
1047   22    male  52.58         1    yes  southeast  44501.3982
847    23    male  50.38         1     no  southeast   2438.0552
116    58    male  49.06         0     no  southeast  11381.3254
286    46  female  48.07         2     no  northeast   9432.9253

In [29]:
df.sort_values("bmi", ascending = False).loc[401, ]

age                47
gender           male
bmi             47.52
children            1
smoker             no
region      southeast
charges       8083.92
Name: 401, dtype: object

In [31]:
df.groupby("gender").age.mean()

gender
female    39.503021
male      38.917160
Name: age, dtype: float64

In [38]:
df.groupby("gender").mean()

              age        bmi  children       charges
gender
female  39.503021  30.377749  1.074018  12569.578844
male    38.917160  30.943129  1.115385  13956.751178

In [35]:
agg = df.groupby("gender").age.agg([np.mean, len])
agg

             mean  len
gender
female  39.503021  662
male    38.917160  676

In [37]:
agg.loc["male"]

mean     38.91716
len     676.00000
Name: male, dtype: float64

In [40]:
agg.iloc[1, :]

mean     38.91716
len     676.00000
Name: male, dtype: float64

In [42]:
agg.iloc[1]

mean     38.91716
len     676.00000
Name: male, dtype: float64

In [44]:
df["age_bmi"] = df.age * df.bmi

In [45]:
df

      age  gender     bmi  children smoker     region      charges   age_bmi
0      19  female  27.900         0    yes  southwest  16884.92400   530.100
1      18    male  33.770         1     no  southeast   1725.55230   607.860
2      28    male  33.000         3     no  southeast   4449.46200   924.000
3      33    male  22.705         0     no  northwest  21984.47061   749.265
4      32    male  28.880         0     no  northwest   3866.85520   924.160
5      31  female  25.740         0     no  southeast   3756.62160   797.940
6      46  female  33.440         1     no  southeast   8240.58960  1538.240
7      37  female  27.740         3     no  northwest   7281.50560  1026.380
8      37    male  29.830         2     no  northeast   6406.41070  1103.710
9      60  female  25.840         0     no  northwest  28923.13692  1550.400
10     25    male  26.220         0     no  northeast   2721.32080   655.500
11     62  female  26.290         0    yes  southeast  27808.72510  1629.980
12     23    male  34.400         0     no  southwest   1826.84300   791.200
13     56  female  39.820         0     no  southeast  11090.71780  2229.920
14     27    male  42.130         0    yes  southeast  39611.75770  1137.510
15     19    male  24.600         1     no  southwest   1837.23700   467.400
16     52  female  30.780         1     no  northeast  10797.33620  1600.560
17     23    male  23.845         0     no  northeast   2395.17155   548.435
18     56    male  40.300         0     no  southwest  10602.38500  2256.800
19     30    male  35.300         0    yes  southwest  36837.46700  1059.000
20     60  female  36.005         0     no  northeast  13228.84695  2160.300
21     30  female  32.400         1     no  southwest   4149.73600   972.000
22     18    male  34.100         0     no  southeast   1137.01100   613.800
23     34  female  31.920         1    yes  northeast  37701.87680  1085.280
24     37    male  28.025         2     no  northwest   6203.90175  1036.925
25     59  female  27.720         3     no  southeast  14001.13380  1635.480
26     63  female  23.085         0     no  northeast  14451.83515  1454.355
27     55  female  32.775         2     no  northwest  12268.63225  1802.625
28     23    male  17.385         1     no  northwest   2775.19215   399.855
29     31    male  36.300         2    yes  southwest  38711.00000  1125.300
...   ...     ...     ...       ...    ...        ...          ...       ...
1308   25  female  30.200         0    yes  southwest  33900.65300   755.000
1309   41    male  32.200         2     no  southwest   6875.96100  1320.200
1310   42    male  26.315         1     no  northwest   6940.90985  1105.230
1311   33  female  26.695         0     no  northwest   4571.41305   880.935
1312   34    male  42.900         1     no  southwest   4536.25900  1458.600
1313   19  female  34.700         2    yes  southwest  36397.57600   659.300
1314   30  female  23.655         3    yes  northwest  18765.87545   709.650
1315   18    male  28.310         1     no  northeast  11272.33139   509.580
1316   19  female  20.600         0     no  southwest   1731.67700   391.400
1317   18    male  53.130         0     no  southeast   1163.46270   956.340
1318   35    male  39.710         4     no  northeast  19496.71917  1389.850
1319   39  female  26.315         2     no  northwest   7201.70085  1026.285
1320   31    male  31.065         3     no  northwest   5425.02335   963.015
1321   62    male  26.695         0    yes  northeast  28101.33305  1655.090
1322   62    male  38.830         0     no  southeast  12981.34570  2407.460
1323   42  female  40.370         2    yes  southeast  43896.37630  1695.540
1324   31    male  25.935         1     no  northwest   4239.89265   803.985
1325   61    male  33.535         0     no  northeast  13143.33665  2045.635
1326   42  female  32.870         0     no  northeast   7050.02130  1380.540
1327   51    male  30.030         1     no  southeast   9377.90470  1531.530
1328   23  female  24.225         2     no  northeast  22395.74424   557.175
1329   52    male  38.600         2     no  southwest  10325.20600  2007.200
1330   57  female  25.740         2     no  southeast  12629.16560  1467.180
1331   23  female  33.400         0     no  southwest  10795.93733   768.200
1332   52  female  44.700         3     no  southwest  11411.68500  2324.400
1333   50    male  30.970         3     no  northwest  10600.54830  1548.500
1334   18  female  31.920         0     no  northeast   2205.98080   574.560
1335   18  female  36.850         0     no  southeast   1629.83350   663.300
1336   21  female  25.800         0     no  southwest   2007.94500   541.800
1337   61  female  29.070         0    yes  northwest  29141.36030  1773.270

[1338 rows x 8 columns]

In [47]:
df["age_bmi"] = np.where(df.age_bmi > 1000, 1000, df.age_bmi)

In [48]:
df

      age  gender     bmi  children smoker     region      charges   age_bmi
0      19  female  27.900         0    yes  southwest  16884.92400   530.100
1      18    male  33.770         1     no  southeast   1725.55230   607.860
2      28    male  33.000         3     no  southeast   4449.46200   924.000
3      33    male  22.705         0     no  northwest  21984.47061   749.265
4      32    male  28.880         0     no  northwest   3866.85520   924.160
5      31  female  25.740         0     no  southeast   3756.62160   797.940
6      46  female  33.440         1     no  southeast   8240.58960  1000.000
7      37  female  27.740         3     no  northwest   7281.50560  1000.000
8      37    male  29.830         2     no  northeast   6406.41070  1000.000
9      60  female  25.840         0     no  northwest  28923.13692  1000.000
10     25    male  26.220         0     no  northeast   2721.32080   655.500
11     62  female  26.290         0    yes  southeast  27808.72510  1000.000
12     23    male  34.400         0     no  southwest   1826.84300   791.200
13     56  female  39.820         0     no  southeast  11090.71780  1000.000
14     27    male  42.130         0    yes  southeast  39611.75770  1000.000
15     19    male  24.600         1     no  southwest   1837.23700   467.400
16     52  female  30.780         1     no  northeast  10797.33620  1000.000
17     23    male  23.845         0     no  northeast   2395.17155   548.435
18     56    male  40.300         0     no  southwest  10602.38500  1000.000
19     30    male  35.300         0    yes  southwest  36837.46700  1000.000
20     60  female  36.005         0     no  northeast  13228.84695  1000.000
21     30  female  32.400         1     no  southwest   4149.73600   972.000
22     18    male  34.100         0     no  southeast   1137.01100   613.800
23     34  female  31.920         1    yes  northeast  37701.87680  1000.000
24     37    male  28.025         2     no  northwest   6203.90175  1000.000
25     59  female  27.720         3     no  southeast  14001.13380  1000.000
26     63  female  23.085         0     no  northeast  14451.83515  1000.000
27     55  female  32.775         2     no  northwest  12268.63225  1000.000
28     23    male  17.385         1     no  northwest   2775.19215   399.855
29     31    male  36.300         2    yes  southwest  38711.00000  1000.000
...   ...     ...     ...       ...    ...        ...          ...       ...
1308   25  female  30.200         0    yes  southwest  33900.65300   755.000
1309   41    male  32.200         2     no  southwest   6875.96100  1000.000
1310   42    male  26.315         1     no  northwest   6940.90985  1000.000
1311   33  female  26.695         0     no  northwest   4571.41305   880.935
1312   34    male  42.900         1     no  southwest   4536.25900  1000.000
1313   19  female  34.700         2    yes  southwest  36397.57600   659.300
1314   30  female  23.655         3    yes  northwest  18765.87545   709.650
1315   18    male  28.310         1     no  northeast  11272.33139   509.580
1316   19  female  20.600         0     no  southwest   1731.67700   391.400
1317   18    male  53.130         0     no  southeast   1163.46270   956.340
1318   35    male  39.710         4     no  northeast  19496.71917  1000.000
1319   39  female  26.315         2     no  northwest   7201.70085  1000.000
1320   31    male  31.065         3     no  northwest   5425.02335   963.015
1321   62    male  26.695         0    yes  northeast  28101.33305  1000.000
1322   62    male  38.830         0     no  southeast  12981.34570  1000.000
1323   42  female  40.370         2    yes  southeast  43896.37630  1000.000
1324   31    male  25.935         1     no  northwest   4239.89265   803.985
1325   61    male  33.535         0     no  northeast  13143.33665  1000.000
1326   42  female  32.870         0     no  northeast   7050.02130  1000.000
1327   51    male  30.030         1     no  southeast   9377.90470  1000.000
1328   23  female  24.225         2     no  northeast  22395.74424   557.175
1329   52    male  38.600         2     no  southwest  10325.20600  1000.000
1330   57  female  25.740         2     no  southeast  12629.16560  1000.000
1331   23  female  33.400         0     no  southwest  10795.93733   768.200
1332   52  female  44.700         3     no  southwest  11411.68500  1000.000
1333   50    male  30.970         3     no  northwest  10600.54830  1000.000
1334   18  female  31.920         0     no  northeast   2205.98080   574.560
1335   18  female  36.850         0     no  southeast   1629.83350   663.300
1336   21  female  25.800         0     no  southwest   2007.94500   541.800
1337   61  female  29.070         0    yes  northwest  29141.36030  1000.000

[1338 rows x 8 columns]

In [49]:
df["age"] = df.age.apply(lambda v: v + 10)
df

      age  gender     bmi  children smoker     region      charges   age_bmi
0      29  female  27.900         0    yes  southwest  16884.92400   530.100
1      28    male  33.770         1     no  southeast   1725.55230   607.860
2      38    male  33.000         3     no  southeast   4449.46200   924.000
3      43    male  22.705         0     no  northwest  21984.47061   749.265
4      42    male  28.880         0     no  northwest   3866.85520   924.160
5      41  female  25.740         0     no  southeast   3756.62160   797.940
6      56  female  33.440         1     no  southeast   8240.58960  1000.000
7      47  female  27.740         3     no  northwest   7281.50560  1000.000
8      47    male  29.830         2     no  northeast   6406.41070  1000.000
9      70  female  25.840         0     no  northwest  28923.13692  1000.000
10     35    male  26.220         0     no  northeast   2721.32080   655.500
11     72  female  26.290         0    yes  southeast  27808.72510  1000.000
12     33    male  34.400         0     no  southwest   1826.84300   791.200
13     66  female  39.820         0     no  southeast  11090.71780  1000.000
14     37    male  42.130         0    yes  southeast  39611.75770  1000.000
15     29    male  24.600         1     no  southwest   1837.23700   467.400
16     62  female  30.780         1     no  northeast  10797.33620  1000.000
17     33    male  23.845         0     no  northeast   2395.17155   548.435
18     66    male  40.300         0     no  southwest  10602.38500  1000.000
19     40    male  35.300         0    yes  southwest  36837.46700  1000.000
20     70  female  36.005         0     no  northeast  13228.84695  1000.000
21     40  female  32.400         1     no  southwest   4149.73600   972.000
22     28    male  34.100         0     no  southeast   1137.01100   613.800
23     44  female  31.920         1    yes  northeast  37701.87680  1000.000
24     47    male  28.025         2     no  northwest   6203.90175  1000.000
25     69  female  27.720         3     no  southeast  14001.13380  1000.000
26     73  female  23.085         0     no  northeast  14451.83515  1000.000
27     65  female  32.775         2     no  northwest  12268.63225  1000.000
28     33    male  17.385         1     no  northwest   2775.19215   399.855
29     41    male  36.300         2    yes  southwest  38711.00000  1000.000
...   ...     ...     ...       ...    ...        ...          ...       ...
1308   35  female  30.200         0    yes  southwest  33900.65300   755.000
1309   51    male  32.200         2     no  southwest   6875.96100  1000.000
1310   52    male  26.315         1     no  northwest   6940.90985  1000.000
1311   43  female  26.695         0     no  northwest   4571.41305   880.935
1312   44    male  42.900         1     no  southwest   4536.25900  1000.000
1313   29  female  34.700         2    yes  southwest  36397.57600   659.300
1314   40  female  23.655         3    yes  northwest  18765.87545   709.650
1315   28    male  28.310         1     no  northeast  11272.33139   509.580
1316   29  female  20.600         0     no  southwest   1731.67700   391.400
1317   28    male  53.130         0     no  southeast   1163.46270   956.340
1318   45    male  39.710         4     no  northeast  19496.71917  1000.000
1319   49  female  26.315         2     no  northwest   7201.70085  1000.000
1320   41    male  31.065         3     no  northwest   5425.02335   963.015
1321   72    male  26.695         0    yes  northeast  28101.33305  1000.000
1322   72    male  38.830         0     no  southeast  12981.34570  1000.000
1323   52  female  40.370         2    yes  southeast  43896.37630  1000.000
1324   41    male  25.935         1     no  northwest   4239.89265   803.985
1325   71    male  33.535         0     no  northeast  13143.33665  1000.000
1326   52  female  32.870         0     no  northeast   7050.02130  1000.000
1327   61    male  30.030         1     no  southeast   9377.90470  1000.000
1328   33  female  24.225         2     no  northeast  22395.74424   557.175
1329   62    male  38.600         2     no  southwest  10325.20600  1000.000
1330   67  female  25.740         2     no  southeast  12629.16560  1000.000
1331   33  female  33.400         0     no  southwest  10795.93733   768.200
1332   62  female  44.700         3     no  southwest  11411.68500  1000.000
1333   60    male  30.970         3     no  northwest  10600.54830  1000.000
1334   28  female  31.920         0     no  northeast   2205.98080   574.560
1335   28  female  36.850         0     no  southeast   1629.83350   663.300
1336   31  female  25.800         0     no  southwest   2007.94500   541.800
1337   71  female  29.070         0    yes  northwest  29141.36030  1000.000

[1338 rows x 8 columns]

In [50]:
def find_age_group(age):
    if age > 60:
        return "high"
    return "normal"

df["age_group"] = df.age.apply(find_age_group)
df

,age,gender,bmi,children,smoker,region,charges,age_bmi,age_group
0,29,female,27.900,0,yes,southwest,16884.92400,530.100,normal
1,28,male,33.770,1,no,southeast,1725.55230,607.860,normal
2,38,male,33.000,3,no,southeast,4449.46200,924.000,normal
3,43,male,22.705,0,no,northwest,21984.47061,749.265,normal
4,42,male,28.880,0,no,northwest,3866.85520,924.160,normal
5,41,female,25.740,0,no,southeast,3756.62160,797.940,normal
6,56,female,33.440,1,no,southeast,8240.58960,1000.000,normal
7,47,female,27.740,3,no,northwest,7281.50560,1000.000,normal
8,47,male,29.830,2,no,northeast,6406.41070,1000.000,normal
9,70,female,25.840,0,no,northwest,28923.13692,1000.000,high
10,35,male,26.220,0,no,northeast,2721.32080,655.500,normal
11,72,female,26.290,0,yes,southeast,27808.72510,1000.000,high
12,33,male,34.400,0,no,southwest,1826.84300,791.200,normal
13,66,female,39.820,0,no,southeast,11090.71780,1000.000,high
14,37,male,42.130,0,yes,southeast,39611.75770,1000.000,normal
15,29,male,24.600,1,no,southwest,1837.23700,467.400,normal
16,62,female,30.780,1,no,northeast,10797.33620,1000.000,high
17,33,male,23.845,0,no,northeast,2395.17155,548.435,normal
18,66,male,40.300,0,no,southwest,10602.38500,1000.000,high
19,40,male,35.300,0,yes,southwest,36837.46700,1000.000,normal
20,70,female,36.005,0,no,northeast,13228.84695,1000.000,high
21,40,female,32.400,1,no,southwest,4149.73600,972.000,normal
22,28,male,34.100,0,no,southeast,1137.01100,613.800,normal
23,44,female,31.920,1,yes,northeast,37701.87680,1000.000,normal
24,47,male,28.025,2,no,northwest,6203.90175,1000.000,normal
25,69,female,27.720,3,no,southeast,14001.13380,1000.000,high
26,73,female,23.085,0,no,northeast,14451.83515,1000.000,high
27,65,female,32.775,2,no,northwest,12268.63225,1000.000,high
28,33,male,17.385,1,no,northwest,2775.19215,399.855,normal
29,41,male,36.300,2,yes,southwest,38711.00000,1000.000,normal
...,...,...,...,...,...,...,...,...,...
1308,35,female,30.200,0,yes,southwest,33900.65300,755.000,normal
1309,51,male,32.200,2,no,southwest,6875.96100,1000.000,normal
1310,52,male,26.315,1,no,northwest,6940.90985,1000.000,normal
1311,43,female,26.695,0,no,northwest,4571.41305,880.935,normal
1312,44,male,42.900,1,no,southwest,4536.25900,1000.000,normal
1313,29,female,34.700,2,yes,southwest,36397.57600,659.300,normal
1314,40,female,23.655,3,yes,northwest,18765.87545,709.650,normal
1315,28,male,28.310,1,no,northeast,11272.33139,509.580,normal
1316,29,female,20.600,0,no,southwest,1731.67700,391.400,normal
1317,28,male,53.130,0,no,southeast,1163.46270,956.340,normal
1318,45,male,39.710,4,no,northeast,19496.71917,1000.000,normal
1319,49,female,26.315,2,no,northwest,7201.70085,1000.000,normal
1320,41,male,31.065,3,no,northwest,5425.02335,963.015,normal
1321,72,male,26.695,0,yes,northeast,28101.33305,1000.000,high
1322,72,male,38.830,0,no,southeast,12981.34570,1000.000,high
1323,52,female,40.370,2,yes,southeast,43896.37630,1000.000,normal
1324,41,male,25.935,1,no,northwest,4239.89265,803.985,normal
1325,71,male,33.535,0,no,northeast,13143.33665,1000.000,high
1326,52,female,32.870,0,no,northeast,7050.02130,1000.000,normal
1327,61,male,30.030,1,no,southeast,9377.90470,1000.000,high
1328,33,female,24.225,2,no,northeast,22395.74424,557.175,normal
1329,62,male,38.600,2,no,southwest,10325.20600,1000.000,high
1330,67,female,25.740,2,no,southeast,12629.16560,1000.000,high
1331,33,female,33.400,0,no,southwest,10795.93733,768.200,normal
1332,62,female,44.700,3,no,southwest,11411.68500,1000.000,high
1333,60,male,30.970,3,no,northwest,10600.54830,1000.000,normal
1334,28,female,31.920,0,no,northeast,2205.98080,574.560,normal
1335,28,female,36.850,0,no,southeast,1629.83350,663.300,normal
1336,31,female,25.800,0,no,southwest,2007.94500,541.800,normal
1337,71,female,29.070,0,yes,northwest,29141.36030,1000.000,high