In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("/data/movielens/movies.csv")

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
9095,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,Action|Adventure|Comedy
9096,159755,Popstar: Never Stop Never Stopping (2016),Comedy
9097,159858,The Conjuring 2 (2016),Horror
9098,159972,Approaching the Unknown (2016),Drama|Sci-Fi|Thriller
9099,160080,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi
9100,160271,Central Intelligence (2016),Action|Comedy
9101,160438,Jason Bourne (2016),Action
9102,160440,The Maid's Room (2014),Thriller
9103,160563,The Legend of Tarzan (2016),Action|Adventure
9104,160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi
9105,160567,Mike & Dave Need Wedding Dates (2016),Comedy
9106,160590,Survive and Advance (2013),(no genres listed)
9107,160656,Tallulah (2016),Drama
9108,160718,Piper (2016),Animation
9109,160954,Nerve (2016),Drama|Thriller
9110,161084,My Friend Rockefeller (2015),Documentary
9111,161155,Sunspring (2016),Sci-Fi
9112,161336,Author: The JT LeRoy Story (2016),Documentary
9113,161582,Hell or High Water (2016),Crime|Drama
9114,161594,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi
9115,161830,Body (2015),Drama|Horror|Thriller
9116,161918,Sharknado 4: The 4th Awakens (2016),Action|Adventure|Horror|Sci-Fi
9117,161944,The Last Brickmaker in America (2001),Drama
9118,162376,Stranger Things,Drama
9119,162542,Rustom (2016),Romance|Thriller
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [4]:
gf = movies[movies.title.str.contains("Godfather")]
gf

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [5]:
movies[movies.movieId.isin(gf.movieId.values)]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [6]:
gf.movieId.values[0]

858

In [7]:
gf.loc[695, :]

movieId                      858
title      Godfather, The (1972)
genres               Crime|Drama
Name: 695, dtype: object

In [8]:
movies.query("movieId == 858")

     movieId                  title       genres
695      858  Godfather, The (1972)  Crime|Drama

In [9]:
movies.loc[695, :]

movieId                      858
title      Godfather, The (1972)
genres               Crime|Drama
Name: 695, dtype: object

In [10]:
movies.iloc[690:700, :]

,movieId,title,genres
690,849,Escape from L.A. (1996),Action|Adventure|Sci-Fi|Thriller
691,850,Cyclo (Xich lo) (1995),Crime|Drama
692,851,Basquiat (1996),Drama
693,852,Tin Cup (1996),Comedy|Drama|Romance
694,854,"Ballad of Narayama, The (Narayama Bushiko) (1958)",Drama
695,858,"Godfather, The (1972)",Crime|Drama
696,861,Supercop (Police Story 3: Supercop) (Jing cha ...,Action|Comedy|Crime|Thriller
697,864,"Wife, The (1995)",Comedy|Drama
698,865,Small Faces (1996),Drama
699,866,Bound (1996),Crime|Drama|Romance|Thriller

In [11]:
ratings = pd.read_csv("/data/movielens/ratings.csv")

In [12]:
rating_for_858 = ratings[ratings.movieId == 858]
rating_for_858

       userId  movieId  rating   timestamp
180         4      858     5.0   949779022
370         5      858     2.5  1163373651
602         8      858     5.0  1154400181
1140       15      858     5.0   997938703
2730       17      858     5.0  1127469000
3324       19      858     5.0   855191478
3564       20      858     2.0  1238729822
3678       21      858     4.0   853850728
3823       22      858     4.0  1131662354
4093       23      858     5.0  1148670263
4810       26      858     4.0  1360088089
5188       30      858     5.0   945113250
6071       31      858     4.5  1273720163
6350       34      858     4.0   973746463
6674       38      858     4.5  1389722583
7403       48      858     4.0  1367729182
8814       57      858     5.0   907765902
9087       59      858     5.0  1144756296
9154       60      858     5.0  1125829174
9535       65      858     5.0   945149894
9574       66      858     5.0   974600461
10039      72      858     4.5  1461778530
10377      73      858     5.0  1255584436
11898      75      858     1.0  1143048947
12392      78      858     4.5  1327288505
14190      93      858     4.5  1304991806
14343      94      858     4.5  1291781482
14906      97      858     3.0  1460342315
15441     102      858     5.0   956598493
16304     105      858     4.5  1085581604
...       ...      ...     ...         ...
87480     582      858     3.5  1122167716
87600     583      858     5.0  1430526121
87847     585      858     5.0   975363898
88210     587      858     5.0  1111102589
89103     594      858     5.0   938948387
89429     596      858     5.0  1138659368
90048     598      858     4.0  1057554666
90945     605      858     5.0   980177999
91308     606      858     5.0  1380350440
91472     607      858     4.5  1118247224
91859     608      858     5.0   958824554
92108     609      858     5.0  1029869771
92415     613      858     5.0  1208297869
92481     614      858     5.0  1003253843
92587     615      858     4.0  1408778570
92978     616      858     4.0   860573133
93656     624      858     5.0  1019124147
95346     626      858     5.0   974770048
95536     627      858     5.0  1201378600
95804     630      858     5.0  1443807838
95931     634      858     5.0  1309492488
96010     637      858     5.0  1343134393
96134     640      858     5.0   860951513
96329     643      858     5.0  1372518442
96632     647      858     5.0   947292218
96768     648      858     3.5  1138477822
97574     654      858     4.5  1145391858
98186     656      858     5.0   986241026
98522     659      858     5.0   860395342
98783     664      858     4.0  1343746801

[200 rows x 4 columns]

In [13]:
rating_for_858.shape[0]

200

In [14]:
rating_for_858.rating.mean()

4.4875

In [15]:
top10 = (ratings
 .groupby("movieId")
 .rating
 .agg(["count", "mean"])
 .query("count >= 100")
 .sort_values("mean", ascending = False)
 .iloc[:10, :]
)
top10

         count      mean
movieId
858        200  4.487500
318        311  4.487138
1221       135  4.385185
50         201  4.370647
527        244  4.303279
1193       144  4.256944
608        224  4.256696
296        324  4.256173
2858       220  4.236364
58559      121  4.235537

In [16]:
top10.merge(movies, right_on= "movieId", left_index=True)[["title", "movieId", "mean"]]

                                       title  movieId      mean
695                    Godfather, The (1972)      858  4.487500
284         Shawshank Redemption, The (1994)      318  4.487138
977           Godfather: Part II, The (1974)     1221  4.385185
48                Usual Suspects, The (1995)       50  4.370647
472                  Schindler's List (1993)      527  4.303279
951   One Flew Over the Cuckoo's Nest (1975)     1193  4.256944
535                             Fargo (1996)      608  4.256696
266                      Pulp Fiction (1994)      296  4.256173
2288                  American Beauty (1999)     2858  4.236364
6916                 Dark Knight, The (2008)    58559  4.235537