In [89]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, linear_model, model_selection, metrics, pipeline

In [2]:
df = pd.read_csv("/data/insurance.csv")

In [3]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
target = "charges"
X = df.copy()
del X[target]
y = df[target]

In [9]:
X = pd.get_dummies(X, drop_first=True)

In [11]:
X.head()

,age,bmi,children,gender_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,1
1,18,33.770,1,1,0,0,1,0
2,28,33.000,3,1,0,0,1,0
3,33,22.705,0,1,0,1,0,0
4,32,28.880,0,1,0,1,0,0

In [12]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, 
                                        test_size = 0.3, random_state = 1)

In [56]:
np.random.seed(1)
np.random.random([10])

array([4.17022005e-01, 7.20324493e-01, 1.14374817e-04, 3.02332573e-01,
       1.46755891e-01, 9.23385948e-02, 1.86260211e-01, 3.45560727e-01,
       3.96767474e-01, 5.38816734e-01])

In [58]:
X_train.shape[0]/len(df)

0.6995515695067265

In [63]:
# Z = (X - X.mean()) / X.std() ... for each column 
# Goal is to have 0 mean and 1 standard deviation of each feature
scaler = preprocessing.StandardScaler()
scaler.fit(X_train) # it calculate X.mean() and X.std()
X_train_std = scaler.transform(X_train) # calculate Z score for each column
X_test_std = scaler.transform(X_test)
pd.DataFrame(X_train_std)

,0,1,2,3,4,5,6,7
0,0.797152,-0.702114,-0.904002,0.976766,-0.509664,1.788102,-0.600387,-0.587220
1,-1.271085,-0.703758,-0.085679,-1.023787,-0.509664,-0.559252,-0.600387,1.702939
2,-0.985811,-0.733340,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
3,0.797152,-0.414510,1.550967,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
4,0.868471,1.482037,-0.085679,0.976766,-0.509664,-0.559252,-0.600387,1.702939
5,-0.985811,1.749098,-0.904002,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
6,-0.843174,0.117970,-0.904002,-1.023787,1.962076,-0.559252,-0.600387,1.702939
7,1.724293,-0.608437,-0.904002,-1.023787,1.962076,1.788102,-0.600387,-0.587220
8,-1.485041,0.525546,-0.904002,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
9,-1.485041,-1.248563,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
10,1.367700,0.375170,-0.904002,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
11,-0.700537,-1.451529,-0.904002,-1.023787,1.962076,-0.559252,-0.600387,-0.587220
12,0.012648,1.827162,-0.904002,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
13,1.153745,0.749878,-0.085679,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
14,-0.343944,-0.522978,-0.085679,-1.023787,-0.509664,-0.559252,-0.600387,1.702939
15,-1.342404,-1.426878,-0.085679,0.976766,-0.509664,-0.559252,-0.600387,1.702939
16,1.581656,-1.576432,-0.904002,-1.023787,-0.509664,1.788102,-0.600387,-0.587220
17,-1.342404,-0.452309,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
18,-0.629218,1.339056,-0.085679,0.976766,-0.509664,-0.559252,1.665591,-0.587220
19,0.725834,1.013652,-0.904002,0.976766,-0.509664,-0.559252,1.665591,-0.587220
20,-0.914493,-0.311794,-0.904002,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
21,-0.843174,0.676744,-0.085679,-1.023787,-0.509664,-0.559252,-0.600387,1.702939
22,-0.201307,-0.125262,-0.904002,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
23,-1.342404,-1.029162,-0.904002,-1.023787,1.962076,-0.559252,1.665591,-0.587220
24,-1.413722,-1.788438,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,1.702939
25,-1.485041,-0.858242,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
26,1.082426,0.843555,1.550967,-1.023787,-0.509664,1.788102,-0.600387,-0.587220
27,-1.413722,0.297106,-0.904002,-1.023787,1.962076,1.788102,-0.600387,-0.587220
28,0.297922,-1.734204,0.732644,0.976766,1.962076,-0.559252,1.665591,-0.587220
29,-1.199767,0.507468,-0.904002,0.976766,-0.509664,-0.559252,1.665591,-0.587220
...,...,...,...,...,...,...,...,...
906,1.153745,0.742482,-0.904002,-1.023787,1.962076,-0.559252,1.665591,-0.587220
907,-0.914493,0.297106,-0.085679,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
908,1.082426,0.265881,-0.085679,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
909,1.367700,-1.300332,-0.904002,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
910,-1.057130,0.331619,-0.904002,0.976766,1.962076,-0.559252,-0.600387,1.702939
911,-0.985811,1.881396,-0.085679,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
912,1.439019,-0.858242,-0.085679,0.976766,-0.509664,-0.559252,-0.600387,-0.587220
913,-0.843174,-0.029941,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,1.702939
914,1.795612,-0.835234,0.732644,0.976766,-0.509664,-0.559252,-0.600387,1.702939
915,1.652975,0.219042,-0.904002,0.976766,1.962076,-0.559252,-0.600387,-0.587220
916,1.082426,0.579780,0.732644,0.976766,1.962076,-0.559252,1.665591,-0.587220
917,0.369241,0.272454,-0.085679,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
918,-0.771855,-1.045596,-0.085679,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
919,-0.415263,-0.998758,0.732644,0.976766,-0.509664,1.788102,-0.600387,-0.587220
920,0.583197,-0.140053,1.550967,0.976766,-0.509664,1.788102,-0.600387,-0.587220
921,0.012648,-0.124440,-0.085679,0.976766,1.962076,-0.559252,-0.600387,-0.587220
922,0.440560,-0.052950,-0.904002,0.976766,1.962076,-0.559252,1.665591,-0.587220
923,-1.199767,0.234655,-0.904002,0.976766,-0.509664,1.788102,-0.600387,-0.587220
924,-1.057130,-0.486822,-0.904002,-1.023787,-0.509664,-0.559252,1.665591,-0.587220
925,-1.057130,-0.889468,-0.904002,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
926,-0.771855,0.031688,-0.904002,0.976766,-0.509664,1.788102,-0.600387,-0.587220
927,-0.058670,0.660310,0.732644,0.976766,-0.509664,-0.559252,-0.600387,1.702939
928,-0.629218,-0.327407,1.550967,0.976766,1.962076,1.788102,-0.600387,-0.587220
929,-1.413722,1.468068,-0.085679,-1.023787,-0.509664,1.788102,-0.600387,-0.587220
930,-1.128448,3.237246,-0.085679,0.976766,-0.509664,-0.559252,1.665591,-0.587220
931,1.510338,-0.292894,-0.904002,0.976766,-0.509664,-0.559252,-0.600387,1.702939
932,-0.914493,-0.218117,0.732644,-1.023787,-0.509664,-0.559252,-0.600387,-0.587220
933,0.868471,0.703039,0.732644,-1.023787,1.962076,-0.559252,-0.600387,-0.587220
934,0.083967,-1.390722,0.732644,-1.023787,1.962076,-0.559252,1.665591,-0.587220
935,1.296382,-0.450666,-0.085679,0.976766,-0.509664,-0.559252,1.665591,-0.587220

In [65]:
lr = linear_model.LinearRegression()
lr.fit(X_train_std, y_train) # Create the model

y_train_pred = lr.predict(X_train_std)
y_test_pred = lr.predict(X_test_std)

In [66]:
summary = pd.DataFrame({"actual": y_test, "predicted": y_test_pred})

In [67]:
summary["error"] = summary.actual - summary.predicted

In [68]:
summary.head()

          actual     predicted        error
559    1646.4297   4610.315541 -2963.885841
1087  11353.2276  12887.893880 -1534.666280
1020   8798.5930  12573.948752 -3775.355752
460   10381.4787  13197.836626 -2816.357926
802    2103.0800    629.337182  1473.742818

In [71]:
sse = np.sum(summary.error ** 2) # sum of squared error
sse

14778105453.509336

In [74]:
mse = sse / (len(y_test) - 1) # mean squared error

In [73]:
mse

36853130.80675645

In [75]:
rmse = np.sqrt(mse) # root mean squared error

In [76]:
rmse

6070.677952811898

In [77]:
y_baseline = np.mean(y_train)

In [79]:
sst = np.sum((y_baseline - y_test) ** 2) # sum of squared total

In [80]:
sse/sst 
# A. < 0, B. (0, 1) C. > 1.0

0.2594002695488974

In [81]:
r2 = 1 - sse/sst

In [82]:
r2

0.7405997304511026

In [88]:
target = "charges"
X = df.copy()
del X[target]
y = df[target]

X = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, 
                                        test_size = 0.3, random_state = 1)

scaler = preprocessing.StandardScaler()
scaler.fit(X_train) # it calculate X.mean() and X.std()
X_train_std = scaler.transform(X_train) # calculate Z score for each column
X_test_std = scaler.transform(X_test)
pd.DataFrame(X_train_std) 

lr = linear_model.LinearRegression()
lr.fit(X_train_std, y_train) # Create the model

y_train_pred = lr.predict(X_train_std)
y_test_pred = lr.predict(X_test_std)

print("training r2: %f\ntest r2: %f\ntraining rmse: %f\ntest: rmse: %f" %(
    metrics.r2_score(y_train, y_train_pred),
    metrics.r2_score(y_test, y_test_pred),
    np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)),
    np.sqrt(metrics.mean_squared_error(y_test, y_test_pred))
))

training r2: 0.754556
test r2: 0.740599
training rmse: 6039.601871
test: rmse: 6063.122657

In [91]:
target = "charges"
X = df.copy()
del X[target]
y = df[target]

X = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, 
                                        test_size = 0.3, random_state = 1)

est = pipeline.Pipeline([
    ("scaler", preprocessing.StandardScaler()),
    ("lr", linear_model.LinearRegression())
])
est.fit(X_train, y_train)

y_train_pred = est.predict(X_train)
y_test_pred = est.predict(X_test)

print("training r2: %f\ntest r2: %f\ntraining rmse: %f\ntest: rmse: %f" %(
    metrics.r2_score(y_train, y_train_pred),
    metrics.r2_score(y_test, y_test_pred),
    np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)),
    np.sqrt(metrics.mean_squared_error(y_test, y_test_pred))
))

training r2: 0.754556
test r2: 0.740599
training rmse: 6039.601871
test: rmse: 6063.122657