In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
df.shape

(1338, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [6]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
type(df.dtypes)

pandas.core.series.Series

# Common tasks with dataframe


1. refer portion using row index or column index or columns names
2. filter 
3. Group 
4. sorting
5. merging / joining

In [11]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [13]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [14]:
df[["region", "charges"]].head()

      region      charges
0  southwest  16884.92400
1  southeast   1725.55230
2  southeast   4449.46200
3  northwest  21984.47061
4  northwest   3866.85520

In [16]:
type(df["charges"])

pandas.core.series.Series

In [17]:
df["charges"]

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
5        3756.62160
6        8240.58960
7        7281.50560
8        6406.41070
9       28923.13692
10       2721.32080
11      27808.72510
12       1826.84300
13      11090.71780
14      39611.75770
15       1837.23700
16      10797.33620
17       2395.17155
18      10602.38500
19      36837.46700
20      13228.84695
21       4149.73600
22       1137.01100
23      37701.87680
24       6203.90175
25      14001.13380
26      14451.83515
27      12268.63225
28       2775.19215
29      38711.00000
           ...
1308    33900.65300
1309     6875.96100
1310     6940.90985
1311     4571.41305
1312     4536.25900
1313    36397.57600
1314    18765.87545
1315    11272.33139
1316     1731.67700
1317     1163.46270
1318    19496.71917
1319     7201.70085
1320     5425.02335
1321    28101.33305
1322    12981.34570
1323    43896.37630
1324     4239.89265
1325    13143.33665
1326     7050.02130
1327     9377.90470
1328    22395.74424
1329    10325.20600
1330    12629.16560
1331    10795.93733
1332    11411.68500
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [19]:
df.iloc[4:9, :]

   age     sex    bmi  children smoker     region    charges
4   32    male  28.88         0     no  northwest  3866.8552
5   31  female  25.74         0     no  southeast  3756.6216
6   46  female  33.44         1     no  southeast  8240.5896
7   37  female  27.74         3     no  northwest  7281.5056
8   37    male  29.83         2     no  northeast  6406.4107

In [20]:
df.iloc[4:9, [2, 6]]

     bmi    charges
4  28.88  3866.8552
5  25.74  3756.6216
6  33.44  8240.5896
7  27.74  7281.5056
8  29.83  6406.4107

In [21]:
df.iloc[4:9, [2, -1]]

     bmi    charges
4  28.88  3866.8552
5  25.74  3756.6216
6  33.44  8240.5896
7  27.74  7281.5056
8  29.83  6406.4107

In [22]:
df.loc[4:9, ["bmi", "charges"]]

     bmi      charges
4  28.88   3866.85520
5  25.74   3756.62160
6  33.44   8240.58960
7  27.74   7281.50560
8  29.83   6406.41070
9  25.84  28923.13692

In [24]:
df[df.sex == "female"]

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
11     62  female  26.290         0    yes  southeast  27808.72510
13     56  female  39.820         0     no  southeast  11090.71780
16     52  female  30.780         1     no  northeast  10797.33620
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
23     34  female  31.920         1    yes  northeast  37701.87680
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
36     62  female  32.965         3     no  northwest  15612.19335
40     24  female  26.600         0     no  northeast   3046.06200
41     31  female  36.630         2     no  southeast   4949.75870
43     37  female  30.800         2     no  southeast   6313.75900
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
48     60  female  24.530         0     no  southeast  12629.89670
50     18  female  35.625         0     no  northeast   2211.13075
51     21  female  33.630         2     no  northwest   3579.82870
54     40  female  28.690         3     no  northwest   8059.67910
56     58  female  31.825         2     no  northeast  13607.36875
58     53  female  22.880         1    yes  southeast  23244.79020
59     34  female  37.335         2     no  northwest   5989.52365
63     28  female  25.935         1     no  northwest   4133.64165
...   ...     ...     ...       ...    ...        ...          ...
1277   32  female  29.735         0     no  northwest   4357.04365
1279   25  female  26.790         2     no  northwest   4189.11310
1280   48  female  33.330         0     no  southeast   8283.68070
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1285   47  female  24.320         0     no  northeast   8534.67180
1286   28  female  17.290         0     no  northeast   3732.62510
1287   36  female  25.900         1     no  southwest   5472.44900
1290   38  female  19.950         2     no  northeast   7133.90250
1297   28  female  26.510         2     no  southeast   4340.44090
1299   19  female  25.745         1     no  northwest   2710.82855
1302   25  female  20.800         1     no  southwest   3208.78700
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1311   33  female  26.695         0     no  northwest   4571.41305
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1316   19  female  20.600         0     no  southwest   1731.67700
1319   39  female  26.315         2     no  northwest   7201.70085
1323   42  female  40.370         2    yes  southeast  43896.37630
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[662 rows x 7 columns]

In [25]:
df.query("sex == 'female'")

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
11     62  female  26.290         0    yes  southeast  27808.72510
13     56  female  39.820         0     no  southeast  11090.71780
16     52  female  30.780         1     no  northeast  10797.33620
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
23     34  female  31.920         1    yes  northeast  37701.87680
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
36     62  female  32.965         3     no  northwest  15612.19335
40     24  female  26.600         0     no  northeast   3046.06200
41     31  female  36.630         2     no  southeast   4949.75870
43     37  female  30.800         2     no  southeast   6313.75900
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
48     60  female  24.530         0     no  southeast  12629.89670
50     18  female  35.625         0     no  northeast   2211.13075
51     21  female  33.630         2     no  northwest   3579.82870
54     40  female  28.690         3     no  northwest   8059.67910
56     58  female  31.825         2     no  northeast  13607.36875
58     53  female  22.880         1    yes  southeast  23244.79020
59     34  female  37.335         2     no  northwest   5989.52365
63     28  female  25.935         1     no  northwest   4133.64165
...   ...     ...     ...       ...    ...        ...          ...
1277   32  female  29.735         0     no  northwest   4357.04365
1279   25  female  26.790         2     no  northwest   4189.11310
1280   48  female  33.330         0     no  southeast   8283.68070
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1285   47  female  24.320         0     no  northeast   8534.67180
1286   28  female  17.290         0     no  northeast   3732.62510
1287   36  female  25.900         1     no  southwest   5472.44900
1290   38  female  19.950         2     no  northeast   7133.90250
1297   28  female  26.510         2     no  southeast   4340.44090
1299   19  female  25.745         1     no  northwest   2710.82855
1302   25  female  20.800         1     no  southwest   3208.78700
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1311   33  female  26.695         0     no  northwest   4571.41305
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1316   19  female  20.600         0     no  southwest   1731.67700
1319   39  female  26.315         2     no  northwest   7201.70085
1323   42  female  40.370         2    yes  southeast  43896.37630
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[662 rows x 7 columns]

In [32]:
import numpy as np

In [38]:
(df.sex == "female") | (df.smoker == "yes")

0        True
1       False
2       False
3       False
4       False
5        True
6        True
7        True
8       False
9        True
10      False
11       True
12      False
13       True
14       True
15      False
16       True
17      False
18      False
19       True
20       True
21       True
22      False
23       True
24      False
25       True
26       True
27       True
28      False
29       True
        ...
1308     True
1309    False
1310    False
1311     True
1312    False
1313     True
1314     True
1315    False
1316     True
1317    False
1318    False
1319     True
1320    False
1321     True
1322    False
1323     True
1324    False
1325    False
1326     True
1327    False
1328     True
1329    False
1330     True
1331     True
1332     True
1333    False
1334     True
1335     True
1336     True
1337     True
Length: 1338, dtype: bool

In [40]:
df[(df.sex == "female") & (df.smoker == "yes")]

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
70     27  female  24.750         0    yes  southeast  16577.77950
84     37  female  34.800         2    yes  southwest  39836.51900
86     57  female  31.160         0    yes  northwest  43578.93940
94     64  female  31.300         2    yes  southwest  47291.05500
103    61  female  29.920         3    yes  southeast  30942.19180
117    29  female  27.940         1    yes  southeast  19107.77960
126    19  female  28.300         0    yes  southwest  17081.08000
128    32  female  17.765         2    yes  northwest  32734.18630
153    42  female  23.370         0    yes  northeast  19964.74630
160    42  female  26.600         0    yes  northwest  21348.70600
161    18  female  36.850         0    yes  southeast  36149.48350
175    63  female  37.700         0    yes  southwest  48824.45000
203    27  female  36.080         0    yes  southeast  37133.89820
235    40  female  22.220         2    yes  southeast  19444.26580
240    23  female  36.670         2    yes  northeast  38511.62830
244    63  female  27.740         0    yes  northeast  29523.16560
251    63  female  32.200         2    yes  southwest  47305.30500
261    20  female  26.840         1    yes  southeast  17085.26760
280    40  female  28.120         1    yes  northeast  22331.56680
288    59  female  36.765         1    yes  northeast  47896.79135
301    53  female  22.610         3    yes  northeast  24873.38490
314    27  female  31.400         0    yes  southwest  34838.87300
328    64  female  33.800         1    yes  southwest  47928.03000
330    61  female  36.385         1    yes  northeast  48517.56315
362    19  female  21.700         0    yes  southwest  13844.50600
...   ...     ...     ...       ...    ...        ...          ...
1040   35  female  28.025         0    yes  northwest  20234.85475
1045   43  female  24.700         2    yes  northwest  21880.82000
1085   39  female  18.300         5    yes  southwest  19023.26000
1093   22  female  30.400         0    yes  northwest  33907.54800
1096   51  female  34.960         2    yes  northeast  44641.19740
1100   33  female  19.095         2    yes  northeast  16776.30405
1112   48  female  25.850         3    yes  southeast  24180.93350
1120   23  female  31.400         0    yes  southwest  34166.27300
1122   53  female  36.860         3    yes  northwest  46661.44240
1124   23  female  42.750         1    yes  northeast  40904.19950
1139   19  female  32.490         0    yes  northwest  36898.73308
1152   43  female  32.560         3    yes  southeast  40941.28540
1171   43  female  26.700         2    yes  southwest  22478.60000
1176   52  female  24.130         1    yes  northwest  23887.66270
1184   23  female  28.490         1    yes  southeast  18328.23810
1188   43  female  25.270         1    yes  northeast  21771.34230
1196   19  female  30.020         0    yes  northwest  33307.55080
1204   18  female  27.280         3    yes  southeast  18223.45120
1208   37  female  25.555         1    yes  northeast  20296.86345
1218   46  female  34.600         1    yes  southwest  41661.60200
1223   20  female  24.420         0    yes  southeast  26125.67477
1231   20  female  21.800         0    yes  southwest  20167.33603
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [28]:
df.query("sex == 'female' and smoker == 'yes'")

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
70     27  female  24.750         0    yes  southeast  16577.77950
84     37  female  34.800         2    yes  southwest  39836.51900
86     57  female  31.160         0    yes  northwest  43578.93940
94     64  female  31.300         2    yes  southwest  47291.05500
103    61  female  29.920         3    yes  southeast  30942.19180
117    29  female  27.940         1    yes  southeast  19107.77960
126    19  female  28.300         0    yes  southwest  17081.08000
128    32  female  17.765         2    yes  northwest  32734.18630
153    42  female  23.370         0    yes  northeast  19964.74630
160    42  female  26.600         0    yes  northwest  21348.70600
161    18  female  36.850         0    yes  southeast  36149.48350
175    63  female  37.700         0    yes  southwest  48824.45000
203    27  female  36.080         0    yes  southeast  37133.89820
235    40  female  22.220         2    yes  southeast  19444.26580
240    23  female  36.670         2    yes  northeast  38511.62830
244    63  female  27.740         0    yes  northeast  29523.16560
251    63  female  32.200         2    yes  southwest  47305.30500
261    20  female  26.840         1    yes  southeast  17085.26760
280    40  female  28.120         1    yes  northeast  22331.56680
288    59  female  36.765         1    yes  northeast  47896.79135
301    53  female  22.610         3    yes  northeast  24873.38490
314    27  female  31.400         0    yes  southwest  34838.87300
328    64  female  33.800         1    yes  southwest  47928.03000
330    61  female  36.385         1    yes  northeast  48517.56315
362    19  female  21.700         0    yes  southwest  13844.50600
...   ...     ...     ...       ...    ...        ...          ...
1040   35  female  28.025         0    yes  northwest  20234.85475
1045   43  female  24.700         2    yes  northwest  21880.82000
1085   39  female  18.300         5    yes  southwest  19023.26000
1093   22  female  30.400         0    yes  northwest  33907.54800
1096   51  female  34.960         2    yes  northeast  44641.19740
1100   33  female  19.095         2    yes  northeast  16776.30405
1112   48  female  25.850         3    yes  southeast  24180.93350
1120   23  female  31.400         0    yes  southwest  34166.27300
1122   53  female  36.860         3    yes  northwest  46661.44240
1124   23  female  42.750         1    yes  northeast  40904.19950
1139   19  female  32.490         0    yes  northwest  36898.73308
1152   43  female  32.560         3    yes  southeast  40941.28540
1171   43  female  26.700         2    yes  southwest  22478.60000
1176   52  female  24.130         1    yes  northwest  23887.66270
1184   23  female  28.490         1    yes  southeast  18328.23810
1188   43  female  25.270         1    yes  northeast  21771.34230
1196   19  female  30.020         0    yes  northwest  33307.55080
1204   18  female  27.280         3    yes  southeast  18223.45120
1208   37  female  25.555         1    yes  northeast  20296.86345
1218   46  female  34.600         1    yes  southwest  41661.60200
1223   20  female  24.420         0    yes  southeast  26125.67477
1231   20  female  21.800         0    yes  southwest  20167.33603
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [42]:
df.groupby("sex").charges.mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [43]:
df.groupby("sex").charges.agg([np.mean, np.median])

                mean      median
sex
female  12569.578844  9412.96250
male    13956.751178  9369.61575

In [46]:
df.groupby("sex").apply(lambda rows: (np.mean(rows.charges), np.mean(rows.bmi)))

sex
female     (12569.57884383534, 30.377749244713023)
male      (13956.751177721886, 30.943128698224832)
dtype: object

In [48]:
df.groupby("sex").apply(lambda rows: {"charges_mean": np.mean(rows.charges), 
                                      "bmi_median": np.mean(rows.bmi)})

sex
female    {'charges_mean': 12569.57884383534, 'bmi_media...
male      {'charges_mean': 13956.751177721886, 'bmi_medi...
dtype: object

In [52]:
df.sort_values("age", ascending=False)

      age     sex     bmi  children smoker     region       charges
335    64    male  34.500         0     no  southwest  13822.803000
603    64  female  39.050         3     no  southeast  16085.127500
752    64    male  37.905         0     no  northwest  14210.535950
1265   64    male  23.760         0    yes  southeast  26926.514400
534    64    male  40.480         0     no  southeast  13831.115200
328    64  female  33.800         1    yes  southwest  47928.030000
768    64  female  39.700         0     no  southwest  14319.031000
1241   64    male  36.960         2    yes  southeast  49577.662400
62     64    male  24.700         1     no  northwest  30166.618170
801    64  female  35.970         0     no  southeast  14313.846300
825    64  female  31.825         2     no  northeast  16069.084750
378    64  female  30.115         3     no  northwest  16455.707850
398    64    male  25.600         2     no  southwest  14988.432000
402    64  female  32.965         0     no  northwest  14692.669350
890    64  female  26.885         0    yes  northwest  29330.983150
94     64  female  31.300         2    yes  southwest  47291.055000
420    64    male  33.880         0    yes  southeast  46889.261200
1051   64    male  26.410         0     no  northeast  14394.557900
418    64    male  39.160         1     no  southeast  14418.280400
199    64  female  39.330         0     no  northeast  14901.516700
635    64    male  38.190         0     no  northeast  14410.932100
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
343    63    male  36.765         0     no  northeast  13981.850350
1068   63    male  21.660         1     no  northwest  14349.854400
1236   63  female  21.660         0     no  northeast  14449.854400
419    63  female  26.980         0    yes  northwest  28950.469200
175    63  female  37.700         0    yes  southwest  48824.450000
480    63    male  41.325         3     no  northwest  15555.188750
830    63    male  33.100         0     no  southwest  13393.756000
...   ...     ...     ...       ...    ...        ...           ...
157    18    male  25.175         0    yes  northeast  15518.180250
1150   18  female  30.305         0     no  northeast   2203.735950
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
121    18    male  23.750         0     no  northeast   1705.624500
1215   18    male  39.140         0     no  northeast  12890.057650
102    18  female  30.115         0     no  northeast  21344.846700
250    18    male  17.290         2    yes  northeast  12829.455100
57     18    male  31.680         2    yes  southeast  34303.167200
469    18  female  24.090         1     no  southeast   2201.097100
911    18    male  31.730         0    yes  northeast  33732.686700
442    18    male  43.010         0     no  southeast   1149.395900
866    18    male  37.290         0     no  southeast   1141.445100
427    18  female  29.165         0     no  northeast   7323.734819
31     18  female  26.315         0     no  northeast   2198.189850
1283   18    male  30.030         1     no  southeast   1720.353700
1282   18  female  21.660         0    yes  northeast  14283.459400
399    18  female  38.170         0     no  southeast   1631.668300
898    18  female  40.260         0     no  southeast   1634.573400
1212   18    male  21.470         0     no  northeast   1702.455300
270    18    male  29.370         1     no  southeast   1719.436300
359    18  female  20.790         0     no  southeast   1607.510100
354    18  female  38.280         0     no  southeast  14133.037750
938    18    male  26.180         2     no  southeast   2304.002200
940    18    male  23.210         0     no  southeast   1121.873900
942    18  female  40.185         0     no  northeast   2217.469150
46     18  female  38.665         2     no  northeast   3393.356350
295    18    male  22.990         0     no  northeast   1704.568100
50     18  female  35.625         0     no  northeast   2211.130750
648    18    male  28.500         0     no  northeast   1712.227000

[1338 rows x 7 columns]

In [53]:
df.sort_values(["age", "bmi"], ascending=False)

      age     sex     bmi  children smoker     region       charges
534    64    male  40.480         0     no  southeast  13831.115200
768    64  female  39.700         0     no  southwest  14319.031000
199    64  female  39.330         0     no  northeast  14901.516700
418    64    male  39.160         1     no  southeast  14418.280400
603    64  female  39.050         3     no  southeast  16085.127500
635    64    male  38.190         0     no  northeast  14410.932100
752    64    male  37.905         0     no  northwest  14210.535950
1241   64    male  36.960         2    yes  southeast  49577.662400
801    64  female  35.970         0     no  southeast  14313.846300
335    64    male  34.500         0     no  southwest  13822.803000
420    64    male  33.880         0    yes  southeast  46889.261200
328    64  female  33.800         1    yes  southwest  47928.030000
402    64  female  32.965         0     no  northwest  14692.669350
825    64  female  31.825         2     no  northeast  16069.084750
94     64  female  31.300         2    yes  southwest  47291.055000
378    64  female  30.115         3     no  northwest  16455.707850
890    64  female  26.885         0    yes  northwest  29330.983150
1051   64    male  26.410         0     no  northeast  14394.557900
398    64    male  25.600         2     no  southwest  14988.432000
62     64    male  24.700         1     no  northwest  30166.618170
1265   64    male  23.760         0    yes  southeast  26926.514400
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
480    63    male  41.325         3     no  northwest  15555.188750
908    63    male  39.800         3     no  southwest  15170.069000
175    63  female  37.700         0    yes  southwest  48824.450000
997    63  female  36.850         0     no  southeast  13887.968500
343    63    male  36.765         0     no  northeast  13981.850350
542    63  female  36.300         0     no  southeast  13887.204000
962    63  female  35.200         1     no  southeast  14474.675000
...   ...     ...     ...       ...    ...        ...           ...
102    18  female  30.115         0     no  northeast  21344.846700
471    18  female  30.115         0     no  northeast   2203.471850
1283   18    male  30.030         1     no  southeast   1720.353700
270    18    male  29.370         1     no  southeast   1719.436300
427    18  female  29.165         0     no  northeast   7323.734819
648    18    male  28.500         0     no  northeast   1712.227000
1315   18    male  28.310         1     no  northeast  11272.331390
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
1204   18  female  27.280         3    yes  southeast  18223.451200
236    18  female  26.730         0     no  southeast   1615.766700
31     18  female  26.315         0     no  northeast   2198.189850
938    18    male  26.180         2     no  southeast   2304.002200
1296   18    male  26.125         0     no  northeast   1708.925750
529    18    male  25.460         0     no  northeast   1708.001400
157    18    male  25.175         0    yes  northeast  15518.180250
492    18  female  25.080         0     no  northeast   2196.473200
469    18  female  24.090         1     no  southeast   2201.097100
121    18    male  23.750         0     no  northeast   1705.624500
1023   18    male  23.320         1     no  southeast   1711.026800
940    18    male  23.210         0     no  southeast   1121.873900
1041   18    male  23.085         0     no  northeast   1704.700150
295    18    male  22.990         0     no  northeast   1704.568100
1080   18    male  21.780         2     no  southeast  11884.048580
1282   18  female  21.660         0    yes  northeast  14283.459400
1033   18    male  21.565         0    yes  northeast  13747.872350
1212   18    male  21.470         0     no  northeast   1702.455300
359    18  female  20.790         0     no  southeast   1607.510100
250    18    male  17.290         2    yes  northeast  12829.455100
172    18    male  15.960         0     no  northeast   1694.796400

[1338 rows x 7 columns]

In [54]:
df.sort_values(["age", "bmi"], ascending=[False, True])

      age     sex     bmi  children smoker     region      charges
664    64  female  22.990         0    yes  southeast  27037.91410
1265   64    male  23.760         0    yes  southeast  26926.51440
62     64    male  24.700         1     no  northwest  30166.61817
398    64    male  25.600         2     no  southwest  14988.43200
1051   64    male  26.410         0     no  northeast  14394.55790
890    64  female  26.885         0    yes  northwest  29330.98315
378    64  female  30.115         3     no  northwest  16455.70785
94     64  female  31.300         2    yes  southwest  47291.05500
825    64  female  31.825         2     no  northeast  16069.08475
402    64  female  32.965         0     no  northwest  14692.66935
328    64  female  33.800         1    yes  southwest  47928.03000
420    64    male  33.880         0    yes  southeast  46889.26120
335    64    male  34.500         0     no  southwest  13822.80300
801    64  female  35.970         0     no  southeast  14313.84630
1241   64    male  36.960         2    yes  southeast  49577.66240
752    64    male  37.905         0     no  northwest  14210.53595
635    64    male  38.190         0     no  northeast  14410.93210
603    64  female  39.050         3     no  southeast  16085.12750
418    64    male  39.160         1     no  southeast  14418.28040
199    64  female  39.330         0     no  northeast  14901.51670
768    64  female  39.700         0     no  southwest  14319.03100
534    64    male  40.480         0     no  southeast  13831.11520
1068   63    male  21.660         1     no  northwest  14349.85440
1236   63  female  21.660         0     no  northeast  14449.85440
26     63  female  23.085         0     no  northeast  14451.83515
1125   63  female  25.080         0     no  northwest  14254.60820
287    63  female  26.220         0     no  northwest  14256.19280
419    63  female  26.980         0    yes  northwest  28950.46920
244    63  female  27.740         0    yes  northeast  29523.16560
33     63    male  28.310         0     no  northwest  13770.09790
...   ...     ...     ...       ...    ...        ...          ...
564    18  female  32.120         2     no  southeast   2801.25880
612    18  female  33.155         0     no  northeast   2207.69745
1244   18    male  33.330         0     no  southeast   1135.94070
623    18    male  33.535         0    yes  northeast  34617.84065
663    18    male  33.660         0     no  southeast   1136.39940
1      18    male  33.770         1     no  southeast   1725.55230
525    18  female  33.880         0     no  southeast  11482.63485
22     18    male  34.100         0     no  southeast   1137.01100
194    18    male  34.430         0     no  southeast   1137.46970
710    18    male  35.200         1     no  southeast   1727.54000
50     18  female  35.625         0     no  northeast   2211.13075
161    18  female  36.850         0    yes  southeast  36149.48350
1335   18  female  36.850         0     no  southeast   1629.83350
571    18  female  37.290         1     no  southeast   2219.44510
866    18    male  37.290         0     no  southeast   1141.44510
399    18  female  38.170         0     no  southeast   1631.66830
759    18    male  38.170         0    yes  southeast  36307.79830
181    18  female  38.280         0     no  southeast   1631.82120
354    18  female  38.280         0     no  southeast  14133.03775
46     18  female  38.665         2     no  northeast   3393.35635
1215   18    male  39.140         0     no  northeast  12890.05765
600    18  female  39.160         0     no  southeast   1633.04440
1248   18  female  39.820         0     no  southeast   1633.96180
942    18  female  40.185         0     no  northeast   2217.46915
898    18  female  40.260         0     no  southeast   1634.57340
728    18  female  40.280         0     no  northeast   2217.60120
781    18    male  41.140         0     no  southeast   1146.79660
803    18  female  42.240         0    yes  southeast  38792.68560
442    18    male  43.010         0     no  southeast   1149.39590
1317   18    male  53.130         0     no  southeast   1163.46270

[1338 rows x 7 columns]

In [60]:
df.columns[[0, 2]]

Index(['age', 'bmi'], dtype='object')

In [64]:
df.sort_values(list(df.columns[[0, 2]]), ascending=[False, True])

      age     sex     bmi  children smoker     region      charges
664    64  female  22.990         0    yes  southeast  27037.91410
1265   64    male  23.760         0    yes  southeast  26926.51440
62     64    male  24.700         1     no  northwest  30166.61817
398    64    male  25.600         2     no  southwest  14988.43200
1051   64    male  26.410         0     no  northeast  14394.55790
890    64  female  26.885         0    yes  northwest  29330.98315
378    64  female  30.115         3     no  northwest  16455.70785
94     64  female  31.300         2    yes  southwest  47291.05500
825    64  female  31.825         2     no  northeast  16069.08475
402    64  female  32.965         0     no  northwest  14692.66935
328    64  female  33.800         1    yes  southwest  47928.03000
420    64    male  33.880         0    yes  southeast  46889.26120
335    64    male  34.500         0     no  southwest  13822.80300
801    64  female  35.970         0     no  southeast  14313.84630
1241   64    male  36.960         2    yes  southeast  49577.66240
752    64    male  37.905         0     no  northwest  14210.53595
635    64    male  38.190         0     no  northeast  14410.93210
603    64  female  39.050         3     no  southeast  16085.12750
418    64    male  39.160         1     no  southeast  14418.28040
199    64  female  39.330         0     no  northeast  14901.51670
768    64  female  39.700         0     no  southwest  14319.03100
534    64    male  40.480         0     no  southeast  13831.11520
1068   63    male  21.660         1     no  northwest  14349.85440
1236   63  female  21.660         0     no  northeast  14449.85440
26     63  female  23.085         0     no  northeast  14451.83515
1125   63  female  25.080         0     no  northwest  14254.60820
287    63  female  26.220         0     no  northwest  14256.19280
419    63  female  26.980         0    yes  northwest  28950.46920
244    63  female  27.740         0    yes  northeast  29523.16560
33     63    male  28.310         0     no  northwest  13770.09790
...   ...     ...     ...       ...    ...        ...          ...
564    18  female  32.120         2     no  southeast   2801.25880
612    18  female  33.155         0     no  northeast   2207.69745
1244   18    male  33.330         0     no  southeast   1135.94070
623    18    male  33.535         0    yes  northeast  34617.84065
663    18    male  33.660         0     no  southeast   1136.39940
1      18    male  33.770         1     no  southeast   1725.55230
525    18  female  33.880         0     no  southeast  11482.63485
22     18    male  34.100         0     no  southeast   1137.01100
194    18    male  34.430         0     no  southeast   1137.46970
710    18    male  35.200         1     no  southeast   1727.54000
50     18  female  35.625         0     no  northeast   2211.13075
161    18  female  36.850         0    yes  southeast  36149.48350
1335   18  female  36.850         0     no  southeast   1629.83350
571    18  female  37.290         1     no  southeast   2219.44510
866    18    male  37.290         0     no  southeast   1141.44510
399    18  female  38.170         0     no  southeast   1631.66830
759    18    male  38.170         0    yes  southeast  36307.79830
181    18  female  38.280         0     no  southeast   1631.82120
354    18  female  38.280         0     no  southeast  14133.03775
46     18  female  38.665         2     no  northeast   3393.35635
1215   18    male  39.140         0     no  northeast  12890.05765
600    18  female  39.160         0     no  southeast   1633.04440
1248   18  female  39.820         0     no  southeast   1633.96180
942    18  female  40.185         0     no  northeast   2217.46915
898    18  female  40.260         0     no  southeast   1634.57340
728    18  female  40.280         0     no  northeast   2217.60120
781    18    male  41.140         0     no  southeast   1146.79660
803    18  female  42.240         0    yes  southeast  38792.68560
442    18    male  43.010         0     no  southeast   1149.39590
1317   18    male  53.130         0     no  southeast   1163.46270

[1338 rows x 7 columns]

In [68]:
df.groupby("sex").age.agg([np.mean, len]).reset_index()

      sex       mean  len
0  female  39.503021  662
1    male  38.917160  676