In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/abasar/Downloads/stocks.small.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.shape

(1846, 8)

In [5]:
df.head()

,date,open,high,low,close,volume,adjclose,symbol
0,2000-07-18,144.81250,144.828125,141.437500,143.0000,50683600.0,50.155473,INTC
1,2000-07-20,32.93751,34.250010,32.812500,33.7500,3288300.0,8.789734,BEN
2,2000-07-24,64.25000,67.312477,64.187523,64.7500,948800.0,7.689567,APH
3,2000-07-26,21.87500,22.125000,20.937500,20.9375,1464300.0,15.618320,SHW
4,2000-07-26,42.00000,42.312481,41.625000,41.8750,1397600.0,9.402721,STJ

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1846 entries, 0 to 1845
Data columns (total 8 columns):
date        1846 non-null object
open        1846 non-null float64
high        1846 non-null float64
low         1846 non-null float64
close       1846 non-null float64
volume      1846 non-null float64
adjclose    1846 non-null float64
symbol      1846 non-null object
dtypes: float64(6), object(2)
memory usage: 115.5+ KB

In [7]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'adjclose', 'symbol'], dtype='object')

In [9]:
dict(df.dtypes)

{'date': dtype('O'),
 'open': dtype('float64'),
 'high': dtype('float64'),
 'low': dtype('float64'),
 'close': dtype('float64'),
 'volume': dtype('float64'),
 'adjclose': dtype('float64'),
 'symbol': dtype('O')}

In [10]:
df.symbol

0       INTC
1        BEN
2        APH
3        SHW
4        STJ
5        GGP
6       SBUX
7        EQT
8        BCR
9        BEN
10       NKE
11       IPG
12       EXC
13       BXP
14      BIIB
15        DD
16       NUE
17       ALK
18       COG
19       ETN
20        DO
21       BSX
22       UPS
23      ENDP
24       WBA
25       PXD
26       STI
27       FDX
28      LLTC
29       RHT
        ...
1816      PG
1817     ABT
1818     DLR
1819    MNST
1820     TSN
1821    FBHS
1822     ALL
1823     DUK
1824      MS
1825     NOC
1826    XRAY
1827     VNO
1828     NSC
1829    FOXA
1830     MDT
1831      SO
1832     CVS
1833    ATVI
1834     APA
1835     VTR
1836     HST
1837      GD
1838     CAG
1839     AFL
1840     LUV
1841     AET
1842     UHS
1843     BSX
1844     ADI
1845     CSX
Name: symbol, Length: 1846, dtype: object

In [11]:
df["symbol"]

0       INTC
1        BEN
2        APH
3        SHW
4        STJ
5        GGP
6       SBUX
7        EQT
8        BCR
9        BEN
10       NKE
11       IPG
12       EXC
13       BXP
14      BIIB
15        DD
16       NUE
17       ALK
18       COG
19       ETN
20        DO
21       BSX
22       UPS
23      ENDP
24       WBA
25       PXD
26       STI
27       FDX
28      LLTC
29       RHT
        ...
1816      PG
1817     ABT
1818     DLR
1819    MNST
1820     TSN
1821    FBHS
1822     ALL
1823     DUK
1824      MS
1825     NOC
1826    XRAY
1827     VNO
1828     NSC
1829    FOXA
1830     MDT
1831      SO
1832     CVS
1833    ATVI
1834     APA
1835     VTR
1836     HST
1837      GD
1838     CAG
1839     AFL
1840     LUV
1841     AET
1842     UHS
1843     BSX
1844     ADI
1845     CSX
Name: symbol, Length: 1846, dtype: object

In [12]:
df[["symbol", "volume"]]

     symbol      volume
0      INTC  50683600.0
1       BEN   3288300.0
2       APH    948800.0
3       SHW   1464300.0
4       STJ   1397600.0
5       GGP    273400.0
6      SBUX  24337600.0
7       EQT    387600.0
8       BCR   1511600.0
9       BEN   1246500.0
10      NKE  19686400.0
11      IPG   1431700.0
12      EXC   4194400.0
13      BXP    155100.0
14     BIIB   4101900.0
15       DD   6005600.0
16      NUE   1419200.0
17      ALK   2096400.0
18      COG    559200.0
19      ETN   1148400.0
20       DO   1394800.0
21      BSX   4287800.0
22      UPS   1145800.0
23     ENDP     16800.0
24      WBA   1813800.0
25      PXD    829700.0
26      STI   1038100.0
27      FDX    622600.0
28     LLTC   3893900.0
29      RHT   2390600.0
...     ...         ...
1816     PG   6526800.0
1817    ABT   7807600.0
1818    DLR   1641600.0
1819   MNST    795500.0
1820    TSN   3277100.0
1821   FBHS    760000.0
1822    ALL   1625700.0
1823    DUK   1672300.0
1824     MS  15812900.0
1825    NOC    542900.0
1826   XRAY   1815500.0
1827    VNO    572100.0
1828    NSC   1488700.0
1829   FOXA   9266200.0
1830    MDT   6024200.0
1831     SO   6238600.0
1832    CVS   3783900.0
1833   ATVI   6272900.0
1834    APA   2023500.0
1835    VTR   2793400.0
1836    HST   9559600.0
1837     GD    830000.0
1838    CAG   2424000.0
1839    AFL   1534400.0
1840    LUV   6339300.0
1841    AET   2520700.0
1842    UHS   1576600.0
1843    BSX   7115500.0
1844    ADI   2740500.0
1845    CSX   3899900.0

[1846 rows x 2 columns]

In [13]:
df.iloc[:5, :]

,date,open,high,low,close,volume,adjclose,symbol
0,2000-07-18,144.81250,144.828125,141.437500,143.0000,50683600.0,50.155473,INTC
1,2000-07-20,32.93751,34.250010,32.812500,33.7500,3288300.0,8.789734,BEN
2,2000-07-24,64.25000,67.312477,64.187523,64.7500,948800.0,7.689567,APH
3,2000-07-26,21.87500,22.125000,20.937500,20.9375,1464300.0,15.618320,SHW
4,2000-07-26,42.00000,42.312481,41.625000,41.8750,1397600.0,9.402721,STJ

In [14]:
df.iloc[:5, :3]

         date       open        high
0  2000-07-18  144.81250  144.828125
1  2000-07-20   32.93751   34.250010
2  2000-07-24   64.25000   67.312477
3  2000-07-26   21.87500   22.125000
4  2000-07-26   42.00000   42.312481

In [15]:
df.iloc[-5:, :3]

            date        open        high
1841  2016-07-29  114.089996  116.550003
1842  2016-08-01  128.809998  130.020004
1843  2016-08-02   24.340000   24.430000
1844  2016-08-02   63.779999   63.840000
1845  2016-08-04   28.010000   28.190001

In [16]:
df.loc[-5:, "date"]

0       2000-07-18
1       2000-07-20
2       2000-07-24
3       2000-07-26
4       2000-07-26
5       2000-07-31
6       2000-08-07
7       2000-08-09
8       2000-08-10
9       2000-08-15
10      2000-08-23
11      2000-09-12
12      2000-09-13
13      2000-09-22
14      2000-10-02
15      2000-10-04
16      2000-10-05
17      2000-10-23
18      2000-10-25
19      2000-10-31
20      2000-11-01
21      2000-11-02
22      2000-11-02
23      2000-11-03
24      2000-11-10
25      2000-11-16
26      2000-11-17
27      2000-11-20
28      2000-11-27
29      2000-11-28
           ...
1816    2016-05-20
1817    2016-05-20
1818    2016-05-24
1819    2016-05-26
1820    2016-05-27
1821    2016-06-02
1822    2016-06-03
1823    2016-06-08
1824    2016-06-14
1825    2016-06-15
1826    2016-06-20
1827    2016-06-21
1828    2016-06-22
1829    2016-06-28
1830    2016-06-28
1831    2016-07-01
1832    2016-07-01
1833    2016-07-07
1834    2016-07-11
1835    2016-07-12
1836    2016-07-12
1837    2016-07-22
1838    2016-07-26
1839    2016-07-27
1840    2016-07-28
1841    2016-07-29
1842    2016-08-01
1843    2016-08-02
1844    2016-08-02
1845    2016-08-04
Name: date, Length: 1846, dtype: object

In [21]:
df.loc[0:5, ["date", "volume"]]

         date      volume
0  2000-07-18  50683600.0
1  2000-07-20   3288300.0
2  2000-07-24    948800.0
3  2000-07-26   1464300.0
4  2000-07-26   1397600.0
5  2000-07-31    273400.0

In [23]:
df[df.symbol == "INTC"]

,date,open,high,low,close,volume,adjclose,symbol
0,2000-07-18,144.812500,144.828125,141.437500,143.000000,50683600.0,50.155473,INTC
59,2001-03-19,27.500000,27.750000,25.375000,27.062500,76656300.0,19.008460,INTC
712,2007-01-29,20.799999,21.139999,20.700001,20.889999,99681400.0,15.412440,INTC
750,2007-06-22,24.190001,24.230000,23.690001,23.700001,70452900.0,17.670250,INTC

In [24]:
df.query("symbol == 'INTC'")

,date,open,high,low,close,volume,adjclose,symbol
0,2000-07-18,144.812500,144.828125,141.437500,143.000000,50683600.0,50.155473,INTC
59,2001-03-19,27.500000,27.750000,25.375000,27.062500,76656300.0,19.008460,INTC
712,2007-01-29,20.799999,21.139999,20.700001,20.889999,99681400.0,15.412440,INTC
750,2007-06-22,24.190001,24.230000,23.690001,23.700001,70452900.0,17.670250,INTC

In [25]:
df[(df.symbol == "INTC") & (df.adjclose < 50.0)]

,date,open,high,low,close,volume,adjclose,symbol
59,2001-03-19,27.500000,27.750000,25.375000,27.062500,76656300.0,19.00846,INTC
712,2007-01-29,20.799999,21.139999,20.700001,20.889999,99681400.0,15.41244,INTC
750,2007-06-22,24.190001,24.230000,23.690001,23.700001,70452900.0,17.67025,INTC

In [26]:
df.symbol.value_counts()

ZBH      11
UPS      11
K        10
COF       9
FLIR      9
KR        9
D         9
PHM       9
PPG       8
IFF       8
JNJ       8
CMI       8
FMC       8
EXR       8
NKE       8
ETN       8
NUE       8
KMB       8
SIG       8
WMT       8
MRK       7
AES       7
WFC       7
IP        7
MU        7
HUM       7
AMZN      7
PX        7
ALK       7
LLY       7
         ..
DD        1
RIG       1
CMA       1
T         1
XRX       1
KEY       1
INTU      1
PNR       1
L         1
PM        1
ADP       1
TRIP      1
OI        1
CBG       1
COST      1
UA        1
AAL       1
GOOGL     1
CMG       1
MPC       1
ALXN      1
ORCL      1
LVLT      1
HBI       1
ROST      1
ULTA      1
OMC       1
DHR       1
MNK       1
ALLE      1
Name: symbol, Length: 471, dtype: int64

In [27]:
df.groupby("symbol").volume.mean()

symbol
A       4.817800e+06
AA      2.177992e+07
AAL     2.598900e+06
AAP     1.274240e+06
AAPL    1.663662e+08
ABC     1.828200e+06
ABT     1.314022e+07
ACN     3.198850e+06
ADBE    4.725700e+06
ADI     2.909117e+06
ADM     4.904967e+06
ADP     1.074600e+06
ADS     7.642000e+05
ADSK    3.393800e+06
AEE     9.350750e+05
AEP     1.866267e+06
AES     4.188586e+06
AET     5.830220e+06
AFL     1.896633e+06
AGN     1.079380e+06
AIG     3.441720e+06
AIV     8.612000e+05
AIZ     1.017925e+06
AKAM    3.719875e+06
ALB     5.175200e+05
ALK     2.896700e+06
ALL     2.904833e+06
ALLE    4.711000e+05
ALXN    1.463200e+06
AMAT    2.433693e+07
            ...
VRTX    1.641950e+06
VTR     1.545000e+06
VZ      1.336177e+07
WAT     1.269814e+06
WBA     4.418425e+06
WDC     3.105371e+06
WEC     6.506000e+05
WFC     2.181037e+07
WFM     4.218267e+06
WHR     9.932800e+05
WM      2.534883e+06
WMB     7.113100e+06
WMT     1.216526e+07
WRK     2.397300e+06
WU      4.839500e+06
WY      1.098333e+06
WYN     1.353540e+06
WYNN    3.704533e+06
XEC     1.375533e+06
XEL     1.071800e+06
XL      7.067333e+05
XLNX    6.288650e+06
XOM     2.776827e+07
XRAY    1.117300e+06
XRX     3.019200e+06
XYL     7.209500e+05
YHOO    2.308414e+07
YUM     1.796917e+06
ZBH     1.616664e+06
ZION    3.220250e+06
Name: volume, Length: 471, dtype: float64

In [30]:
df.groupby("symbol").agg({"volume": "mean", "adjclose": ["min", "max"]})

              volume    adjclose
                mean         min          max
symbol
A       4.817800e+06   19.316793    22.535109
AA      2.177992e+07   11.123421    25.516047
AAL     2.598900e+06   47.445163    47.445163
AAP     1.274240e+06   32.363403   107.432552
AAPL    1.663662e+08   11.383904    94.050506
ABC     1.828200e+06   29.400084    65.843234
ABT     1.314022e+07   11.447715    45.165641
ACN     3.198850e+06   12.485839    76.159571
ADBE    4.725700e+06   20.022287    25.129999
ADI     2.909117e+06   19.490500    62.840000
ADM     4.904967e+06    9.334903    40.498156
ADP     1.074600e+06   67.339605    67.339605
ADS     7.642000e+05  139.660004   271.230011
ADSK    3.393800e+06   24.190001    56.630001
AEE     9.350750e+05   20.797009    30.070156
AEP     1.866267e+06   12.662770    53.148385
AES     4.188586e+06    3.085846    16.749134
AET     5.830220e+06   19.997030   115.209999
AFL     1.896633e+06   35.243588    73.360001
AGN     1.079380e+06   29.299999    68.730003
AIG     3.441720e+06   25.310469  1211.032845
AIV     8.612000e+05   16.261151    23.710325
AIZ     1.017925e+06   21.482773    57.247527
AKAM    3.719875e+06    5.880000    31.940001
ALB     5.175200e+05   11.921115    62.858276
ALK     2.896700e+06    4.577766    76.745880
ALL     2.904833e+06   26.366152    67.430000
ALLE    4.711000e+05   63.727192    63.727192
ALXN    1.463200e+06   28.375000    28.375000
AMAT    2.433693e+07    9.676140    15.246507
...              ...         ...          ...
VRTX    1.641950e+06   18.040001    35.000000
VTR     1.545000e+06   13.748192    71.860001
VZ      1.336177e+07   16.277012    44.194522
WAT     1.269814e+06   29.100000   116.980003
WBA     4.418425e+06   27.914415    57.432881
WDC     3.105371e+06    7.354230    38.225810
WEC     6.506000e+05   11.299921    17.397624
WFC     2.181037e+07   22.097952    52.583103
WFM     4.218267e+06   21.808027    26.776485
WHR     9.932800e+05   34.858330   138.560080
WM      2.534883e+06   13.256806    38.429423
WMB     7.113100e+06    1.846767    49.648267
WMT     1.216526e+07   36.980843    63.705700
WRK     2.397300e+06   34.728229    34.728229
WU      4.839500e+06   16.444357    17.398777
WY      1.098333e+06   12.132849    16.153942
WYN     1.353540e+06   27.050767    75.727030
WYNN    3.704533e+06   22.689805   126.062244
XEC     1.375533e+06   38.606511   104.753064
XEL     1.071800e+06   13.489514    19.060752
XL      7.067333e+05   52.179692    56.624716
XLNX    6.288650e+06   29.323364    44.232112
XOM     2.776827e+07   27.865163    64.471801
XRAY    1.117300e+06   15.753040    63.242097
XRX     3.019200e+06    5.532853     5.532853
XYL     7.209500e+05   23.904374    37.537801
YHOO    2.308414e+07    7.735000    44.450001
YUM     1.796917e+06   10.202352    76.703856
ZBH     1.616664e+06   47.224518   101.951645
ZION    3.220250e+06   23.378531    29.521667

[471 rows x 3 columns]

In [32]:
def extract_year(date): 
    return int(date[:4])
df.date.apply(extract_year)

0       2000
1       2000
2       2000
3       2000
4       2000
5       2000
6       2000
7       2000
8       2000
9       2000
10      2000
11      2000
12      2000
13      2000
14      2000
15      2000
16      2000
17      2000
18      2000
19      2000
20      2000
21      2000
22      2000
23      2000
24      2000
25      2000
26      2000
27      2000
28      2000
29      2000
        ...
1816    2016
1817    2016
1818    2016
1819    2016
1820    2016
1821    2016
1822    2016
1823    2016
1824    2016
1825    2016
1826    2016
1827    2016
1828    2016
1829    2016
1830    2016
1831    2016
1832    2016
1833    2016
1834    2016
1835    2016
1836    2016
1837    2016
1838    2016
1839    2016
1840    2016
1841    2016
1842    2016
1843    2016
1844    2016
1845    2016
Name: date, Length: 1846, dtype: int64

In [34]:
df["year"] = df.date.apply(lambda date: date[:4])
df.head()

,date,open,high,low,close,volume,adjclose,symbol,year
0,2000-07-18,144.81250,144.828125,141.437500,143.0000,50683600.0,50.155473,INTC,2000
1,2000-07-20,32.93751,34.250010,32.812500,33.7500,3288300.0,8.789734,BEN,2000
2,2000-07-24,64.25000,67.312477,64.187523,64.7500,948800.0,7.689567,APH,2000
3,2000-07-26,21.87500,22.125000,20.937500,20.9375,1464300.0,15.618320,SHW,2000
4,2000-07-26,42.00000,42.312481,41.625000,41.8750,1397600.0,9.402721,STJ,2000

In [35]:
df.sample(10)

,date,open,high,low,close,volume,adjclose,symbol,year
1150,2011-01-27,48.540001,48.889999,47.709999,48.400002,3692000.0,44.889981,COF,2011
1027,2009-12-01,31.779872,32.339871,31.349877,32.339871,24040700.0,21.790832,VZ,2009
522,2005-06-30,47.000000,47.730000,45.900002,46.980000,5698400.0,11.745000,SWN,2005
1187,2011-05-25,44.639999,45.070000,44.549999,45.040001,2029300.0,40.419880,CAH,2011
974,2009-07-02,8.910000,8.910000,8.520000,8.520000,3383700.0,8.130925,PHM,2009
484,2005-02-28,11.270000,11.450000,11.260000,11.260000,1863800.0,10.248593,WDC,2005
341,2003-10-06,10.500000,10.940000,10.480000,10.940000,1159100.0,10.120585,AMT,2003
1751,2015-11-05,231.029999,232.250000,230.449997,232.100006,461000.0,228.847217,PSA,2015
1812,2016-05-16,247.350006,253.389999,247.350006,251.520004,373400.0,251.394808,AYI,2016
138,2001-12-20,30.980000,31.000000,30.799999,30.799999,313800.0,20.034410,SLG,2001

In [36]:
df.groupby(["year", "symbol"]).agg({"volume": "mean", "adjclose": ["min", "max"]})

                 volume    adjclose
                   mean         min         max
year symbol
2000 ALK      2096400.0    5.260930    5.260930
     APH       948800.0    7.689567    7.689567
     BCR      1511600.0   22.539051   22.539051
     BEN      2267400.0    8.789734    9.082726
     BIIB     4101900.0   52.333328   52.333328
     BSX      4287800.0    8.062500    8.062500
     BWA      1828800.0    3.873478    3.873478
     BXP       155100.0   20.370235   20.370235
     COG       559200.0    1.571407    1.571407
     DD       6005600.0   24.935551   24.935551
     DO       1394800.0   19.415772   19.415772
     EMC      9635900.0   63.535675   63.535675
     ENDP       16800.0    7.062500    7.062500
     EQT       387600.0   10.495977   10.495977
     ETN      1148400.0    8.058698    8.058698
     EXC      4194400.0   15.661070   15.661070
     FCX      1217000.0    2.692444    2.692444
     FDX       622600.0   43.282129   43.282129
     FLIR       93600.0    0.437528    0.437528
     FOX      2018100.0   12.446755   12.446755
     GGP       273400.0    5.063753    5.063753
     INTC    50683600.0   50.155473   50.155473
     IPG      1431700.0   32.285666   32.285666
     LLTC     3893900.0   36.411879   36.411879
     MET      5533800.0   26.429130   26.429130
     NKE     19686400.0    4.203095    4.203095
     NUE      1419200.0    4.943182    4.943182
     O          37000.0    4.840168    4.840168
     PXD       829700.0   13.849900   13.849900
     RAI      4000800.0    1.958053    1.958053
...                 ...         ...         ...
2016 LYB      3358200.0   76.655333   76.655333
     MCK      3452500.0  151.460178  151.460178
     MDT      6024200.0   83.724375   83.724375
     MKC      1180900.0   90.499753   90.499753
     MMM      2140600.0  154.501226  154.501226
     MNK      1596400.0   59.740002   59.740002
     MNST      795500.0  150.009995  150.009995
     MOS      4412500.0   28.234492   28.234492
     MS      13650000.0   24.431679   26.427927
     MSFT    36775200.0   50.501642   50.501642
     NOC       542900.0  217.190002  217.190002
     NSC      1488700.0   85.475234   85.475234
     NWS       965100.0   11.352387   11.352387
     PG       6526800.0   79.397817   79.397817
     PKI       358200.0   51.264375   51.264375
     RAI     16149100.0   50.271568   50.271568
     ROK      1135700.0   92.824424   92.824424
     RSG      1736100.0   43.505044   43.505044
     SNA       390900.0  158.847107  158.847107
     SO       6238600.0   53.259941   53.259941
     STT      1560500.0   59.631907   59.631907
     TROW     1260600.0   67.585106   67.585106
     TSN      3277100.0   65.070000   65.070000
     UHS      1576600.0  128.220001  128.220001
     VNO       572100.0   96.913601   96.913601
     VTR      2793400.0   71.860001   71.860001
     WRK      2397300.0   34.728229   34.728229
     WYNN    12644100.0   98.957808   98.957808
     XRAY     1815500.0   63.242097   63.242097
     YUM      2622200.0   76.703856   76.703856

[1650 rows x 3 columns]

In [37]:
import numpy as np

In [38]:
def my_max(values):
    return max(values)

In [39]:
df.groupby(["year", "symbol"]).agg({"volume": np.mean, "adjclose": [np.min, my_max]})

                 volume    adjclose
                   mean        amin      my_max
year symbol
2000 ALK      2096400.0    5.260930    5.260930
     APH       948800.0    7.689567    7.689567
     BCR      1511600.0   22.539051   22.539051
     BEN      2267400.0    8.789734    9.082726
     BIIB     4101900.0   52.333328   52.333328
     BSX      4287800.0    8.062500    8.062500
     BWA      1828800.0    3.873478    3.873478
     BXP       155100.0   20.370235   20.370235
     COG       559200.0    1.571407    1.571407
     DD       6005600.0   24.935551   24.935551
     DO       1394800.0   19.415772   19.415772
     EMC      9635900.0   63.535675   63.535675
     ENDP       16800.0    7.062500    7.062500
     EQT       387600.0   10.495977   10.495977
     ETN      1148400.0    8.058698    8.058698
     EXC      4194400.0   15.661070   15.661070
     FCX      1217000.0    2.692444    2.692444
     FDX       622600.0   43.282129   43.282129
     FLIR       93600.0    0.437528    0.437528
     FOX      2018100.0   12.446755   12.446755
     GGP       273400.0    5.063753    5.063753
     INTC    50683600.0   50.155473   50.155473
     IPG      1431700.0   32.285666   32.285666
     LLTC     3893900.0   36.411879   36.411879
     MET      5533800.0   26.429130   26.429130
     NKE     19686400.0    4.203095    4.203095
     NUE      1419200.0    4.943182    4.943182
     O          37000.0    4.840168    4.840168
     PXD       829700.0   13.849900   13.849900
     RAI      4000800.0    1.958053    1.958053
...                 ...         ...         ...
2016 LYB      3358200.0   76.655333   76.655333
     MCK      3452500.0  151.460178  151.460178
     MDT      6024200.0   83.724375   83.724375
     MKC      1180900.0   90.499753   90.499753
     MMM      2140600.0  154.501226  154.501226
     MNK      1596400.0   59.740002   59.740002
     MNST      795500.0  150.009995  150.009995
     MOS      4412500.0   28.234492   28.234492
     MS      13650000.0   24.431679   26.427927
     MSFT    36775200.0   50.501642   50.501642
     NOC       542900.0  217.190002  217.190002
     NSC      1488700.0   85.475234   85.475234
     NWS       965100.0   11.352387   11.352387
     PG       6526800.0   79.397817   79.397817
     PKI       358200.0   51.264375   51.264375
     RAI     16149100.0   50.271568   50.271568
     ROK      1135700.0   92.824424   92.824424
     RSG      1736100.0   43.505044   43.505044
     SNA       390900.0  158.847107  158.847107
     SO       6238600.0   53.259941   53.259941
     STT      1560500.0   59.631907   59.631907
     TROW     1260600.0   67.585106   67.585106
     TSN      3277100.0   65.070000   65.070000
     UHS      1576600.0  128.220001  128.220001
     VNO       572100.0   96.913601   96.913601
     VTR      2793400.0   71.860001   71.860001
     WRK      2397300.0   34.728229   34.728229
     WYNN    12644100.0   98.957808   98.957808
     XRAY     1815500.0   63.242097   63.242097
     YUM      2622200.0   76.703856   76.703856

[1650 rows x 3 columns]

In [49]:
df.groupby("symbol").volume.agg(["mean", "count"]).sort_values("count", ascending = False)

                mean  count
symbol
ZBH     1.616664e+06     11
UPS     3.431600e+06     11
K       1.819700e+06     10
COF     2.539389e+06      9
PHM     6.032567e+06      9
D       3.944967e+06      9
KR      7.185778e+06      9
FLIR    1.176022e+06      9
EXR     7.666750e+05      8
JNJ     7.240888e+06      8
CMI     3.091300e+06      8
IFF     7.939625e+05      8
WMT     1.216526e+07      8
ETN     2.120088e+06      8
KMB     2.134388e+06      8
PPG     1.646538e+06      8
NUE     2.655588e+06      8
FMC     1.508088e+06      8
SIG     5.225125e+05      8
NKE     1.373038e+07      8
WFC     2.181037e+07      7
SYY     2.600686e+06      7
CINF    5.118714e+05      7
BMY     1.085179e+07      7
CMS     1.328643e+06      7
BIIB    2.678871e+06      7
NFX     4.696586e+06      7
IP      3.418514e+06      7
WDC     3.105371e+06      7
WAT     1.269814e+06      7
...              ...    ...
SEE     1.540100e+06      1
RCL     2.889000e+05      1
TRIP    4.832300e+06      1
AAL     2.598900e+06      1
COST    3.293000e+06      1
OMC     3.241900e+06      1
RIG     4.777400e+06      1
SRCL    2.415200e+06      1
TDC     1.737600e+06      1
T       3.832350e+07      1
ULTA    2.994000e+05      1
HBI     8.892000e+05      1
TXN     1.934920e+07      1
MNK     1.596400e+06      1
GOOGL   3.089820e+07      1
TWX     7.694600e+06      1
MPC     7.134400e+06      1
MUR     1.420900e+06      1
INTU    1.918800e+06      1
FB      5.999990e+07      1
FAST    2.375800e+06      1
NTAP    5.664400e+06      1
NVDA    2.053670e+07      1
L       1.721900e+06      1
VRSK    6.564000e+05      1
DISCK   1.641800e+06      1
DHR     7.628600e+06      1
DD      6.005600e+06      1
OI      3.161100e+06      1
ROST    1.169520e+07      1

[471 rows x 2 columns]

In [42]:
df["pct"] = (df.close - df.open)/df.open

In [43]:
df["pct"]

0      -0.012516
1       0.024668
2       0.007782
3      -0.042857
4      -0.002976
5      -0.001842
6       0.034742
7      -0.010123
8       0.063776
9      -0.022767
10     -0.021277
11     -0.008224
12      0.012182
13      0.002924
14     -0.109220
15      0.022535
16     -0.016000
17      0.048048
18     -0.039040
19      0.006470
20      0.012259
21      0.027888
22      0.031513
23      0.083934
24     -0.002907
25      0.045455
26     -0.020619
27     -0.010217
28     -0.088764
29     -0.121094
          ...
1816   -0.005221
1817    0.001332
1818   -0.005282
1819    0.001803
1820   -0.001994
1821    0.002050
1822    0.006118
1823    0.008392
1824   -0.019530
1825   -0.002297
1826   -0.010470
1827    0.002365
1828    0.009621
1829    0.004145
1830    0.015815
1831    0.001488
1832   -0.009178
1833   -0.003208
1834   -0.007742
1835   -0.018976
1836   -0.002905
1837    0.008276
1838   -0.015615
1839   -0.003125
1840    0.000000
1841    0.009817
1842   -0.004580
1843   -0.006984
1844   -0.014738
1845    0.001428
Name: pct, Length: 1846, dtype: float64

In [47]:
df.sort_values("pct", ascending = False)[:5]

,date,open,high,low,close,volume,adjclose,symbol,year,pct
894,2008-10-13,19.799999,22.100000,19.23000,22.100000,5260800.0,5.330276,ALK,2008,0.116162
871,2008-07-16,30.049999,33.240002,30.01000,33.209999,10548800.0,27.081553,CCL,2008,0.105158
132,2001-12-05,8.500000,9.350000,8.49000,9.350000,480400.0,93.500001,ETFC,2001,0.100000
33,2000-12-11,3.437520,3.937520,3.43752,3.750000,93600.0,0.437528,FLIR,2000,0.090903
23,2000-11-03,6.515620,7.062500,6.50000,7.062500,16800.0,7.062500,ENDP,2000,0.083934

In [50]:
df = pd.read_csv("/data/startups.csv")

In [54]:
df.sort_values(["State", "R&D Spend"], ascending=[True, False])

    R&D Spend  Administration  Marketing Spend       State     Profit
1   162597.70       151377.59        443898.53  California  191792.06
6   134615.46       147198.87        127716.82  California  156122.51
9   123334.88       108679.17        304981.62  California  149759.96
11  100671.96        91790.61        249744.55  California  144259.40
13   91992.39       135495.07        252664.93  California  134307.35
16   78013.11       121597.55        264346.06  California  126992.93
20   76253.86       113867.30        298664.47  California  118474.03
25   64664.71       139553.16        137962.62  California  107404.34
32   63408.86       129219.61         46085.25  California   97427.84
34   46426.07       157693.92        210797.67  California   96712.80
37   44069.95        51283.14        197029.42  California   89949.14
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
42   23640.93        96189.63        148001.11  California   71498.49
44   22177.74       154806.14         28334.72  California   65200.33
47        NaN       135426.92              NaN  California   42559.73
49        NaN       116983.80         45173.06  California   14681.40
2   153441.51       101145.55        407934.54     Florida  191050.39
4   142107.34        91391.77        366168.42     Florida  166187.94
7   130298.13       145530.06        323876.68     Florida  155752.60
14  119943.24       156547.42        256512.92     Florida  132602.65
10  101913.08       110594.11        229160.95     Florida  146121.95
12   93863.75       127320.38        249839.44     Florida  141585.52
18   91749.16       114175.79        294919.57     Florida  124266.90
26   75328.87       144135.98        134050.07     Florida  105733.54
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
28   66051.52       182645.56        118148.20     Florida  103282.38
30   61994.48       115641.28         91131.24     Florida   99937.59
33   55493.95       103057.49        214634.81     Florida   96778.92
36   28663.76       127056.21        201126.82     Florida   90708.19
41   27892.92        84710.77        164470.71     Florida   77798.83
46    1315.46       115816.21        297114.46     Florida   49490.75
0   165349.20       136897.80        471784.10    New York  192261.83
3   144372.41       118671.85        383199.62    New York  182901.99
5   131876.90        99814.71        362861.36    New York  156991.12
8   120542.52       148718.95        311613.29    New York  152211.77
15  114523.61       122616.84        261776.23    New York  129917.04
17   94657.16       145077.58        282574.31    New York  125370.37
19   86419.70       153514.11              NaN    New York  122776.86
21   78389.47       153773.43        299737.29    New York  111313.02
24   77044.01        99281.34        140574.81    New York  108552.04
27   72107.60       127864.55        353183.81    New York  105008.31
29   65605.48       153032.06        107138.38    New York  101004.64
31   61136.38       152701.92         88218.23    New York   97483.56
35   46014.02        85047.44        205517.64    New York   96479.51
38   20229.59        65947.93        185265.10    New York   81229.06
43   15505.73       127382.30         35534.17    New York   69758.98
45    1000.23       124153.04          1903.93    New York   64926.08
48     542.05        51743.15              NaN    New York   35673.41